<section class="categories-section">
    <h1 class="heading-1 weight-300 center hide"><strong class="bold-text-medium-weight">{{ 't218a8c' | t }}</strong>{{ 't3780444c' | t }}<strong class="bold-text-medium-weight">{{ 'tn1fc96976' | t }}</strong><br>{{ 't5c19c7e0' | t }}</h1>
    <div class="container">
      <div data-delay="3000" data-animation="slide" class="slider-2 w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="w-layout-grid grid-8">
              <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc1702-3-p-500.jpeg' | asset_url }}" loading="lazy" height="400" width="500" alt="a pic of a stone" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3a410347' | t }}</h3>
                </div>
              </a>
              <a id="w-node-_5276a057-4762-5653-7fd1-3be26b182672-00637739" href="https://bodhgemandcrystals.com/collections/phone-charms" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'about.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100.0875015258789px, (max-width: 767px) 21vw, (max-width: 991px) 14vw, 9vw" srcset="{{ 'about-p-500.jpeg' | asset_url }} 500w, {{ 'about-p-800.jpeg' | asset_url }} 800w, {{ 'about-p-1080.jpeg' | asset_url }} 1080w, {{ 'about.jpg' | asset_url }} 1199w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn6979c952' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2415.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 88.6500015258789px, (max-width: 767px) 19vw, (max-width: 991px) 12vw, 7vw" srcset="{{ '_dsc2415-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2415.jpg' | asset_url }} 569w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'te010215' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/anklets" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'anklets.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 59.42499923706055px, (max-width: 767px) 12vw, (max-width: 991px) 7vw, 4vw" srcset="{{ 'anklets-p-500.jpeg' | asset_url }} 500w, {{ 'anklets.jpg' | asset_url }} 695w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't30409476' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="slide-2 w-slide">
            <div class="w-layout-grid grid-9">
              <a href="https://bodhgemandcrystals.com/collections/roses" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="(max-width: 479px) 52.35000228881836px, (max-width: 767px) 11vw, (max-width: 991px) 6vw, 4vw" src="{{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }}" loading="lazy" srcset="{{ 'b-pk-rq-rs-aa-173-2-p-800.jpeg' | asset_url }} 800w, {{ 'b-pk-rq-rs-aa-173-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'b-pk-rq-rs-aa-173-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'b-pk-rq-rs-aa-173-2-p-2000.jpeg' | asset_url }} 2000w, {{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }} 2048w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't4b7b8e4' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/pendulums" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="(max-width: 479px) 80.4749984741211px, (max-width: 767px) 17vw, (max-width: 991px) 11vw, 7vw" src="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }}" loading="lazy" srcset="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-500.jpeg' | asset_url }} 500w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-800.jpeg' | asset_url }} 800w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }} 910w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn4290ecc7' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="(max-width: 479px) 91.4375px, (max-width: 767px) 19vw, (max-width: 991px) 12vw, 8vw" src="{{ 'raw-clusters.jpeg' | asset_url }}" loading="lazy" srcset="{{ 'raw-clusters-p-500.jpeg' | asset_url }} 500w, {{ 'raw-clusters.jpeg' | asset_url }} 738w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't4781baf1' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/hearts" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="(max-width: 479px) 53.5625px, (max-width: 767px) 11vw, (max-width: 991px) 6vw, 4vw" src="{{ '_dsc1003-1-p-3200.jpeg' | asset_url }}" loading="lazy" srcset="{{ '_dsc1003-1-p-3200-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1003-1-p-3200-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1003-1-p-3200-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1003-1-p-3200-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1003-1-p-3200-p-2000.jpeg' | asset_url }} 2000w, {{ '_dsc1003-1-p-3200-p-2600.jpeg' | asset_url }} 2600w, {{ '_dsc1003-1-p-3200.jpeg' | asset_url }} 3200w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn7f65faf3' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-8">
              <a id="w-node-_226a24d0-a1a1-e9e4-1c64-775c60864f1e-00637739" href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2729.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 84.80000305175781px, (max-width: 767px) 18vw, (max-width: 991px) 11vw, 7vw" srcset="{{ '_dsc2729-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2729.jpg' | asset_url }} 637w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3a3dd537' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/mini-cluster" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '25.9G2-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 84.0999984741211px, (max-width: 767px) 18vw, (max-width: 991px) 11vw, 7vw" srcset="{{ '25.9G2-1-p-500.jpeg' | asset_url }} 500w, {{ '25.9G2-1.jpg' | asset_url }} 738w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn42ca88cf' | t }}</h3>
                </div>
              </a>
              <a id="w-node-_62fd3251-f013-6175-8274-e26f4012b0e9-00637739" href="https://bodhgemandcrystals.com/collections/crystal-grids" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2421-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 90.6624984741211px, (max-width: 767px) 19vw, (max-width: 991px) 12vw, 8vw" srcset="{{ '_dsc2421-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2421-1.jpg' | asset_url }} 521w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tdaaf443' | t }}</h3>
                </div>
              </a>
              <a id="w-node-_684d1042-487f-fa17-ef49-be46cf60a410-00637739" href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2486.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 142.28750610351562px, (max-width: 767px) 30vw, (max-width: 991px) 21vw, 13vw" srcset="{{ '_dsc2486-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2486.jpg' | asset_url }} 530w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn4465fe07' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-8">
              <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe7595858e81c3606ab8b2_treeheroo-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'te6216eb' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/candle-holder" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 96.63750457763672px, (max-width: 767px) 20vw, (max-width: 991px) 13vw, 8vw" srcset="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-800.jpeg' | asset_url }} 800w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }} 888w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't6438061f' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/bracelets" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'bracelet.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't35d8ba4b' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'angels-and-generators.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't6ce00df3' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-8">
              <a href="https://www.bodhgemandcrystals.com/collections/coasters" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe758e68bdfa8842db6bec_5f963e842e105d402cc68eb7_selected5-p-800.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 67.30000305175781px, (max-width: 767px) 14vw, (max-width: 991px) 8vw, 5vw" srcset="{{ '5fbe758e68bdfa8842db6bec_5f963e842e105d402cc68eb7_selected5-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe758e68bdfa8842db6bec_5f963e842e105d402cc68eb7_selected5-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn342ca8d0' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc1113-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 102.26250457763672px, (max-width: 767px) 21vw, (max-width: 991px) 14vw, 9vw" srcset="{{ '_dsc1113-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1113-1-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1113-1-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1113-1-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1113-1.jpg' | asset_url }} 1715w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't7addc36c' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe758bec8db41bdac4d328_ballsheross.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 88.01250457763672px, (max-width: 767px) 18vw, (max-width: 991px) 12vw, 7vw" srcset="{{ '5fbe758bec8db41bdac4d328_ballsheross-p-500.jpeg' | asset_url }} 500w, {{ '5fbe758bec8db41bdac4d328_ballsheross.jpeg' | asset_url }} 740w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'td5cd0aa' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/ducks" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 52.35000228881836px, (max-width: 767px) 11vw, (max-width: 991px) 6vw, 4vw" srcset="{{ '_dsc1008-1_1-p-2000-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1008-1_1-p-2000-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1008-1_1-p-2000-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1008-1_1-p-2000-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }} 2000w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3f4eeba' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-8">
              <a href="https://bodhgemandcrystals.com/collections/estrella-by-bodh" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe757756c51c85ceb91477_5f963e9f6b7aac48687dd6a4_selected62-p-800.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 110.92500305175781px, (max-width: 767px) 23vw, (max-width: 991px) 16vw, 10vw" srcset="{{ '5fbe757756c51c85ceb91477_5f963e9f6b7aac48687dd6a4_selected62-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe757756c51c85ceb91477_5f963e9f6b7aac48687dd6a4_selected62-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3f131dc2' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'shiv-shakti-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 80.25px, (max-width: 767px) 17vw, (max-width: 991px) 11vw, 7vw" srcset="{{ 'shiv-shakti-1-p-500.jpeg' | asset_url }} 500w, {{ 'shiv-shakti-1-p-800.jpeg' | asset_url }} 800w, {{ 'shiv-shakti-1.jpg' | asset_url }} 953w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't66290792' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/earrings" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'earrings.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 64.63750457763672px, (max-width: 767px) 14vw, (max-width: 991px) 8vw, 5vw" srcset="{{ 'earrings-p-500.jpeg' | asset_url }} 500w, {{ 'earrings-p-800.jpeg' | asset_url }} 800w, {{ 'earrings-p-1080.jpeg' | asset_url }} 1080w, {{ 'earrings-p-1600.jpeg' | asset_url }} 1600w, {{ 'earrings-p-2000.jpeg' | asset_url }} 2000w, {{ 'earrings.jpg' | asset_url }} 2048w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn2c122133' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'mask-chains.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 88.9000015258789px, (max-width: 767px) 19vw, (max-width: 991px) 12vw, 8vw" srcset="{{ 'mask-chains-p-500.jpeg' | asset_url }} 500w, {{ 'mask-chains.jpeg' | asset_url }} 690w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't737c9586' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-8">
              <a href="https://www.bodhgemandcrystals.com/collections/necklaces" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 74.5250015258789px, (max-width: 767px) 16vw, (max-width: 991px) 10vw, 6vw" srcset="{{ '5fbe757a8b771e2f8b470450-p-500.jpeg' | asset_url }} 500w, {{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }} 710w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't5a6f7d9d' | t }}</h3>
                </div>
              </a>
              <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'tumbles.jpg' | asset_url }}" loading="lazy" alt="Tumbles
" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn767130de' | t }}</h3>
                </div>
              </a>
              <a href="https://www.bodhgemandcrystals.com/collections/pyramids" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 69.9749984741211px, (max-width: 767px) 15vw, (max-width: 991px) 9vw, 6vw" srcset="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }} 680w" alt="pyramids" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3f428943' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="left-arrow-2 w-slider-arrow-left"><img width="24" height="30" src="{{ 'arrow-acc-style-guide-2.svg' | asset_url }}" loading="lazy" alt="" class="image-19"></div>
        <div class="right-arrow-2 w-slider-arrow-right"><img width="24" height="30" src="{{ 'arrow-acc-style-guide-1.svg' | asset_url }}" loading="lazy" alt=""></div>
        <div class="slide-nav-2 w-slider-nav w-round"></div>
      </div>
      <div data-delay="3000" data-animation="slide" class="slider-3 w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="slide-3 w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc1702-3-p-500.jpeg' | asset_url }}" loading="lazy" height="400" width="500" alt="a pic of a stone" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3a410347' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a id="w-node-c9b965dc-fb70-dcda-c590-6b597697f402-00637739" href="https://bodhgemandcrystals.com/collections/phone-charms" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'about.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'about-p-500.jpeg' | asset_url }} 500w, {{ 'about-p-800.jpeg' | asset_url }} 800w, {{ 'about-p-1080.jpeg' | asset_url }} 1080w, {{ 'about.jpg' | asset_url }} 1199w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn6979c952' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2415.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc2415-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2415.jpg' | asset_url }} 569w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'te010215' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/anklets" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'anklets.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'anklets-p-500.jpeg' | asset_url }} 500w, {{ 'anklets.jpg' | asset_url }} 695w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't30409476' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/roses" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="100vw" src="{{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }}" loading="lazy" srcset="{{ 'b-pk-rq-rs-aa-173-2-p-800.jpeg' | asset_url }} 800w, {{ 'b-pk-rq-rs-aa-173-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'b-pk-rq-rs-aa-173-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'b-pk-rq-rs-aa-173-2-p-2000.jpeg' | asset_url }} 2000w, {{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }} 2048w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't4b7b8e4' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/pendulums" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="100vw" src="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }}" loading="lazy" srcset="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-500.jpeg' | asset_url }} 500w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-800.jpeg' | asset_url }} 800w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }} 910w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn4290ecc7' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="100vw" src="{{ 'raw-clusters.jpeg' | asset_url }}" loading="lazy" srcset="{{ 'raw-clusters-p-500.jpeg' | asset_url }} 500w, {{ 'raw-clusters.jpeg' | asset_url }} 738w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't4781baf1' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/hearts" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img sizes="100vw" src="{{ '_dsc1003-1-p-3200.jpeg' | asset_url }}" loading="lazy" srcset="{{ '_dsc1003-1-p-3200-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1003-1-p-3200-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1003-1-p-3200-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1003-1-p-3200-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1003-1-p-3200-p-2000.jpeg' | asset_url }} 2000w, {{ '_dsc1003-1-p-3200-p-2600.jpeg' | asset_url }} 2600w, {{ '_dsc1003-1-p-3200.jpeg' | asset_url }} 3200w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn7f65faf3' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a id="w-node-c9b965dc-fb70-dcda-c590-6b597697f430-00637739" href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2729.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc2729-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2729.jpg' | asset_url }} 637w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3a3dd537' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/mini-cluster" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '25.9G2-1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '25.9G2-1-p-500.jpeg' | asset_url }} 500w, {{ '25.9G2-1.jpg' | asset_url }} 738w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn42ca88cf' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a id="w-node-c9b965dc-fb70-dcda-c590-6b597697f43c-00637739" href="https://bodhgemandcrystals.com/collections/crystal-grids" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2421-1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc2421-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2421-1.jpg' | asset_url }} 521w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tdaaf443' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a id="w-node-c9b965dc-fb70-dcda-c590-6b597697f442-00637739" href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc2486.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc2486-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2486.jpg' | asset_url }} 530w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn4465fe07' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe7595858e81c3606ab8b2_treeheroo-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'te6216eb' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/candle-holder" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-800.jpeg' | asset_url }} 800w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }} 888w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't6438061f' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/bracelets" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'bracelet.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't35d8ba4b' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'angels-and-generators.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't6ce00df3' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/coasters" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe758e68bdfa8842db6bec_5f963e842e105d402cc68eb7_selected5-p-800.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe758e68bdfa8842db6bec_5f963e842e105d402cc68eb7_selected5-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe758e68bdfa8842db6bec_5f963e842e105d402cc68eb7_selected5-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn342ca8d0' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc1113-1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc1113-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1113-1-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1113-1-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1113-1-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1113-1.jpg' | asset_url }} 1715w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't7addc36c' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe758bec8db41bdac4d328_ballsheross.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe758bec8db41bdac4d328_ballsheross-p-500.jpeg' | asset_url }} 500w, {{ '5fbe758bec8db41bdac4d328_ballsheross.jpeg' | asset_url }} 740w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'td5cd0aa' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/ducks" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc1008-1_1-p-2000-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1008-1_1-p-2000-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1008-1_1-p-2000-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1008-1_1-p-2000-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }} 2000w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3f4eeba' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/estrella-by-bodh" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe757756c51c85ceb91477_5f963e9f6b7aac48687dd6a4_selected62-p-800.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe757756c51c85ceb91477_5f963e9f6b7aac48687dd6a4_selected62-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe757756c51c85ceb91477_5f963e9f6b7aac48687dd6a4_selected62-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3f131dc2' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'shiv-shakti-1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'shiv-shakti-1-p-500.jpeg' | asset_url }} 500w, {{ 'shiv-shakti-1-p-800.jpeg' | asset_url }} 800w, {{ 'shiv-shakti-1.jpg' | asset_url }} 953w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't66290792' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/earrings" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'earrings.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'earrings-p-500.jpeg' | asset_url }} 500w, {{ 'earrings-p-800.jpeg' | asset_url }} 800w, {{ 'earrings-p-1080.jpeg' | asset_url }} 1080w, {{ 'earrings-p-1600.jpeg' | asset_url }} 1600w, {{ 'earrings-p-2000.jpeg' | asset_url }} 2000w, {{ 'earrings.jpg' | asset_url }} 2048w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn2c122133' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'mask-chains.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'mask-chains-p-500.jpeg' | asset_url }} 500w, {{ 'mask-chains.jpeg' | asset_url }} 690w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't737c9586' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/necklaces" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe757a8b771e2f8b470450-p-500.jpeg' | asset_url }} 500w, {{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }} 710w" alt="" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't5a6f7d9d' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ 'tumbles.jpg' | asset_url }}" loading="lazy" alt="Tumbles
" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 'tn767130de' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid grid-11">
              <a href="https://www.bodhgemandcrystals.com/collections/pyramids" class="categorie-link w-inline-block">
                <div class="categeory-image-container"><img src="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }} 680w" alt="pyramids" class="image-max-cover"></div>
                <div class="categorie-content-wrapper margin-top-1-39em">
                  <h3 class="heading-3 font-weight-500 center">{{ 't3f428943' | t }}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="left-arrow-3 w-slider-arrow-left"><img src="{{ 'arrow-acc-style-guide-2.svg' | asset_url }}" loading="lazy" width="20" height="31" alt="" class="image-18"></div>
        <div class="arrow-mobile-toggler w-slider-arrow-right"><img src="{{ 'arrow-acc-style-guide-1.svg' | asset_url }}" loading="lazy" width="21" height="35" alt="" class="image-18"></div>
        <div class="slide-nav-4 w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </section>