<aside class="left-nav-wrapper p-left2-22em">
      <a href="{{ pages["shop-by-intent"].url }}" class="aside-nav-link">{{ 't6d6011db' | t }}</a>
      <a href="{{ pages["find-by-crystal"].url }}" class="aside-nav-link">{{ 't33289bb7' | t }}</a>
      <div class="accordian-wrapper">
        <div class="accordian-item">
          <div data-w-id="7d3fcf57-e960-9b15-b5d7-b28434ebed31" class="accordian-item-trigger">
            <div class="aside-nav-link">{{ 't21225823' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
          </div>
          <div class="accordian-item-content">
            <a href="https://www.bodhgemandcrystals.com/collections/bracelets" class="aside-nav-link pad-left-0-83em">{{ 't2b569db6' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="aside-nav-link pad-left-0-83em">{{ 'tn7a66344' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/necklaces" class="aside-nav-link pad-left-0-83em">{{ 'tn76ea9263' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/earrings" class="aside-nav-link pad-left-0-83em">{{ 'tn2fec8553' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/estrella-by-bodh" class="aside-nav-link pad-left-0-83em">{{ 'tn745481f8' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="aside-nav-link pad-left-0-83em">{{ 't46ae0186' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/anklets" class="aside-nav-link pad-left-0-83em">{{ 'tn32f8036a' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="aside-nav-link pad-left-0-83em">{{ 'tn3caa0992' | t }}</a>
          </div>
        </div>
        <div class="accordian-item">
          <div data-w-id="ad5f5632-45dd-1026-98ff-526373072c89" class="accordian-item-trigger">
            <div class="aside-nav-link">{{ 'tn6d5c4726' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
          </div>
          <div class="accordian-item-content">
            <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="aside-nav-link pad-left-0-83em">{{ 't4a300831' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="aside-nav-link pad-left-0-83em">{{ 'tn4399ecd9' | t }}</a>
            <a href="https://boadhgemandcrystals.com/collections/crystal-murti" class="aside-nav-link pad-left-0-83em">{{ 't3f3fd4de' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="aside-nav-link pad-left-0-83em">{{ 'tn7aab6605' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="aside-nav-link pad-left-0-83em">{{ 'tn10c34d7b' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/angels-generators" class="aside-nav-link pad-left-0-83em">{{ 'tnf589ef8' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pyramids" class="aside-nav-link pad-left-0-83em">{{ 't6a0e1523' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pendulums" class="aside-nav-link pad-left-0-83em">{{ 't45fcf359' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/face-rollers-gua-sha" class="aside-nav-link pad-left-0-83em">{{ 'tn6848e8b5' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/chanting-mala" class="aside-nav-link pad-left-0-83em">{{ 'tn4e6da717' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/massage-sticks" class="aside-nav-link pad-left-0-83em">{{ 'tn67c9f9c8' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="aside-nav-link pad-left-0-83em">{{ 't56756f92' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="aside-nav-link pad-left-0-83em">{{ 'tn4be2219' | t }}</a>
          </div>
        </div>
        <div class="accordian-item">
          <div data-w-id="754533ab-0e0c-874c-dba4-65354044071e" class="accordian-item-trigger">
            <div class="aside-nav-link">{{ 'tn227cc11c' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
          </div>
          <div class="accordian-item-content">
            <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="aside-nav-link pad-left-0-83em">{{ 'tn7aab6605' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="aside-nav-link pad-left-0-83em">{{ 'tn30264356' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="aside-nav-link pad-left-0-83em">{{ 'tn2f20fd15' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="aside-nav-link pad-left-0-83em">{{ 't62786b51' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/candle-holder" class="aside-nav-link pad-left-0-83em">{{ 't6b33ea1f' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/coasters" class="aside-nav-link pad-left-0-83em">{{ 'tn38070cf0' | t }}</a>
            <a href="https://www.bodhgemandcrystals.com/collections/roses" class="aside-nav-link pad-left-0-83em">{{ 't67aa904' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/ducks" class="aside-nav-link pad-left-0-83em">{{ 't3e5e6ba' | t }}</a>
            <a href="https://bodhgemandcrystals.com/collections/hearts" class="aside-nav-link pad-left-0-83em">{{ 't7ec80ced' | t }}</a>
          </div>
        </div>
      </div>
      <a href="https://bodhgemandcrystals.com/collections/hamper" class="aside-nav-link">{{ 'tn537d791c' | t }}</a>
      <a href="{{ pages["contact-us"].url }}" class="aside-nav-link m-top-2-78em">{{ 'tn70cfd5a0' | t }}</a>
      <a href="{{ pages["about-us"].url }}" aria-current="page" class="aside-nav-link w--current">{{ 'tn70d4fbcf' | t }}</a>
    </aside>