<aside class="left-nav-wrapper p-left2-22em">
      <a href="{{ pages["shop-by-intent"].url }}" class="aside-nav-link">SHOP BY intent</a>
      <a href="{{ pages["find-by-crystal"].url }}" class="aside-nav-link">SHOP BY CRYSTAL</a>
      <div class="accordian-wrapper">
        <div class="accordian-item">
          <div data-w-id="7d3fcf57-e960-9b15-b5d7-b28434ebed31" class="accordian-item-trigger">
            <div class="aside-nav-link">Jewellery</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
          </div>
          <div class="accordian-item-content">
            <a href="https://www.bodhgemandcrystals.com/collections/bracelets" class="aside-nav-link pad-left-0-83em">BRACELETS</a>
            <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="aside-nav-link pad-left-0-83em">HEALING BRACELETES</a>
            <a href="https://bodhgemandcrystals.com/collections/stackable-bracelet" class="aside-nav-link pad-left-0-83em">STACKABLE BRACELETES</a>
            <a href="https://bodhgemandcrystals.com/collections/crystal-pendants" class="aside-nav-link pad-left-0-83em">Crystal pendants</a>
            <a href="https://bodhgemandcrystals.com/collections/crystal-rings" class="aside-nav-link pad-left-0-83em">Crystal rings</a>

            <a href="https://www.bodhgemandcrystals.com/collections/necklaces" class="aside-nav-link pad-left-0-83em">NECKLACES</a>
            <a href="https://bodhgemandcrystals.com/collections/earrings" class="aside-nav-link pad-left-0-83em">earrings</a>
            <a href="https://www.bodhgemandcrystals.com/collections/estrella-by-bodh" class="aside-nav-link pad-left-0-83em">estrella</a>
            <a href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="aside-nav-link pad-left-0-83em">mask chains</a>
            <a href="https://bodhgemandcrystals.com/collections/anklets" class="aside-nav-link pad-left-0-83em">anklets</a>
            <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="aside-nav-link pad-left-0-83em">phone charms</a>
          </div>
        </div>
        <div class="accordian-item">
          <div data-w-id="ad5f5632-45dd-1026-98ff-526373072c89" class="accordian-item-trigger">
            <div class="aside-nav-link">Healing</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
          </div>
          <div class="accordian-item-content">
            <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="aside-nav-link pad-left-0-83em">INTENTION KITS</a>
            <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="aside-nav-link pad-left-0-83em">CRYSTAL KITS</a>
            <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="aside-nav-link pad-left-0-83em">CRYSTAL MURTIS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/ducks" class="aside-nav-link pad-left-0-83em">Crystal Ducks</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="aside-nav-link pad-left-0-83em">Tumbles & Chips</a>
            <a href="https://www.bodhgemandcrystals.com/collections/hearts" class="aside-nav-link pad-left-0-83em">Crystal Hearts</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-grids" class="aside-nav-link pad-left-0-83em">Crystal Grids</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="aside-nav-link pad-left-0-83em">Crystal Balls</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="aside-nav-link pad-left-0-83em">Crystal Trees</a>
            <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="aside-nav-link pad-left-0-83em">RAW CUSTERS</a>
            <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="aside-nav-link pad-left-0-83em">HEALING BRACELETS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/angels-generators" class="aside-nav-link pad-left-0-83em">ANGELS &amp; GENERATORS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pyramids" class="aside-nav-link pad-left-0-83em">PYRAMIDS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pendulums" class="aside-nav-link pad-left-0-83em">pendulums</a>
            <a href="https://www.bodhgemandcrystals.com/collections/facial-tools" class="aside-nav-link pad-left-0-83em">FACIAL TOOLS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/chanting-mala" class="aside-nav-link pad-left-0-83em">CHANTING MALA</a>
            <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="aside-nav-link pad-left-0-83em">SHIV SHAKTI</a>
            <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="aside-nav-link pad-left-0-83em">CHARGING TOOL</a>
          </div>
        </div>
        <div class="accordian-item">
          <div data-w-id="754533ab-0e0c-874c-dba4-65354044071e" class="accordian-item-trigger">
            <div class="aside-nav-link">home decor</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
          </div>
          <div class="accordian-item-content">
            <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="aside-nav-link pad-left-0-83em">RAW ClUSTERS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="aside-nav-link pad-left-0-83em">CRYSTAL BALLS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="aside-nav-link pad-left-0-83em">CRYSTAL TREES</a>
            <a href="https://www.bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="aside-nav-link pad-left-0-83em">TUMBLES &amp; CHIPS</a>
            <a href="https://www.bodhgemandcrystals.com/collections/candle-holder" class="aside-nav-link pad-left-0-83em">Candle Holders</a>
            <a href="https://www.bodhgemandcrystals.com/collections/coasters" class="aside-nav-link pad-left-0-83em">coasters</a>
            <a href="https://www.bodhgemandcrystals.com/collections/roses" class="aside-nav-link pad-left-0-83em">roses</a>
            <a href="https://www.bodhgemandcrystals.com/collections/chakra-crystal-candles" class="aside-nav-link pad-left-0-83em">Chakra Crystal Candle</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-diya" class="aside-nav-link pad-left-0-83em">Crystal Diya</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystalline-by-bodh" class="aside-nav-link pad-left-0-83em">Crystalline by bodh</a>
            <a href="https://www.bodhgemandcrystals.com/collections/mini-cluster" class="aside-nav-link pad-left-0-83em">Mini Clusters</a>
            <a href="https://www.bodhgemandcrystals.com/collections/crystal-murti" class="aside-nav-link pad-left-0-83em">Crystal Murtis</a>
            <a href="https://bodhgemandcrystals.com/collections/ducks" class="aside-nav-link pad-left-0-83em">Crystal Ducks</a>
            <a href="https://bodhgemandcrystals.com/collections/hearts" class="aside-nav-link pad-left-0-83em">Crystal Hearts</a>
          </div>
        </div>
      </div>
      <a href="{{ pages["gifting"].url }}" class="aside-nav-link">Gifting</a>
        <a href="{{ pages["festive"].url }}" class="aside-nav-link">Festive</a>

      <a href="{{ pages["contact-us"].url }}" class="aside-nav-link m-top-2-78em">book consultation</a>
      <a href="{{ pages["about-us"].url }}" aria-current="page" class="aside-nav-link w--current">ABOUT US</a>
    </aside>