<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav-bar-mobile w-nav">
    <div class="container">
      <div class="div-block-14">
        <div id="w-node-_5e6d880a-6321-c209-c05b-e0a024582397-24582394" class="menu-button-mobile w-nav-button">
          <div class="text-block-5">shop</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow absolute">
        </div>
        <a id="w-node-_5e6d880a-6321-c209-c05b-e0a02458239b-24582394" href="{{ routes.root_url }}" class="brand w-inline-block"><img src="{{ 'bodh-logo.png' | asset_url }}" loading="lazy" width="61" alt=""></a>
        <nav role="navigation" class="nav-menu-2 w-nav-menu">
          <a href="#" class="diwali-nav-wrapper w-inline-block">
            <div class="mobile-navlink-image-wrapper"><img src="{{ 'instagram-post-1-72.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'instagram-post-1-72-p-500.jpeg' | asset_url }} 500w, {{ 'instagram-post-1-72-p-800.jpeg' | asset_url }} 800w, {{ 'instagram-post-1-72.jpg' | asset_url }} 1080w" alt="" class="image-max-cover circle"></div>
            <div class="nav-text-mobile fancy">Diwali Gift shop</div>
          </a>
          <div class="mobile-nav-wrapper">
            <a href="{{ pages["shop"].url }}" class="mobile-navlink-wrapper w-inline-block">
              <div class="mobile-navlink-image-wrapper"><img src="{{ 'raw-clusters.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'raw-clusters-p-500.jpeg' | asset_url }} 500w, {{ 'raw-clusters.jpeg' | asset_url }} 738w" alt="" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">Shop All</div>
            </a>
            <div data-hover="false" data-delay="0" class="mobile-nav-dropdown w-dropdown">
              <div class="mobile-navlink-wrapper blue-bg w-dropdown-toggle">
                <div class="mobile-navlink-image-wrapper">
                  <div class="lottie-animation-4" data-w-id="5e6d880a-6321-c209-c05b-e0a0245823ac" data-animation-type="lottie" data-src="{{ 'lf30_editor_kg9fkffc.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.44" data-duration="0"></div>
                </div>
                <div class="nav-text-mobile">New Launches</div>
                <div class="icon-2 w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="mobile-navlink-wrapper white w-inline-block">
                  <div class="mobile-navlink-image-wrapper"><img src="{{ '_dsc2729.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc2729-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2729.jpg' | asset_url }} 637w" alt="" class="image-max-cover circle"></div>
                  <div class="nav-text-mobile">Crystal Diya</div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="mobile-navlink-wrapper white w-inline-block">
                  <div class="mobile-navlink-image-wrapper"><img src="{{ '_dsc2486.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc2486-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2486.jpg' | asset_url }} 530w" alt="" class="image-max-cover circle"></div>
                  <div class="nav-text-mobile">Chakra Crystal Candle</div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="mobile-navlink-wrapper white w-inline-block">
                  <div class="mobile-navlink-image-wrapper"><img src="{{ 'moonstone-phone-charm-817744.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'moonstone-phone-charm-817744-p-500.jpeg' | asset_url }} 500w, {{ 'moonstone-phone-charm-817744.jpeg' | asset_url }} 2048w" alt="" class="image-max-cover circle"></div>
                  <div class="nav-text-mobile">Phone Charms</div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="mobile-navlink-wrapper white w-inline-block">
                  <div class="mobile-navlink-image-wrapper"><img src="{{ '_dsc1702-3-p-500.jpeg' | asset_url }}" loading="lazy" alt="a pic of a stone" class="image-max-cover circle"></div>
                  <div class="nav-text-mobile">Crystal Kits</div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="mobile-navlink-wrapper white w-inline-block">
                  <div class="mobile-navlink-image-wrapper"><img src="{{ '_dsc2415.jpeg' | asset_url }}" loading="lazy" alt="crystal murti
" class="image-max-cover circle"></div>
                  <div class="nav-text-mobile">Crystal Murti</div>
                </a>
              </nav>
            </div>
            <a href="{{ pages["healing"].url }}" class="mobile-navlink-wrapper w-inline-block">
              <div class="mobile-navlink-image-wrapper"><img src="{{ 'dsc1721.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'dsc1721-p-500.jpeg' | asset_url }} 500w, {{ 'dsc1721.jpeg' | asset_url }} 778w" alt="Home decor" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">Healing</div>
            </a>
            <a href="{{ pages["home-decor"].url }}" class="mobile-navlink-wrapper blue-bg w-inline-block">
              <div class="mobile-navlink-image-wrapper"><img src="{{ 'raw-clusters.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'raw-clusters-p-500.jpeg' | asset_url }} 500w, {{ 'raw-clusters.jpeg' | asset_url }} 738w" alt="" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">Home Decor</div>
            </a>
            <a href="{{ pages["jewellery"].url }}" class="mobile-navlink-wrapper w-inline-block">
              <div class="mobile-navlink-image-wrapper"><img src="{{ 'amethyst-raw-earrings-951642.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'amethyst-raw-earrings-951642-p-500.jpeg' | asset_url }} 500w, {{ 'amethyst-raw-earrings-951642-p-800.jpeg' | asset_url }} 800w, {{ 'amethyst-raw-earrings-951642-p-1080.jpeg' | asset_url }} 1080w, {{ 'amethyst-raw-earrings-951642-p-1600.jpeg' | asset_url }} 1600w, {{ 'amethyst-raw-earrings-951642-p-2000.jpeg' | asset_url }} 2000w, {{ 'amethyst-raw-earrings-951642.jpeg' | asset_url }} 2046w" alt="" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">Jewellery</div>
            </a>
            <a href="https://bodhgemandcrystals.com/collections/on-sale" class="mobile-navlink-wrapper blue-bg w-inline-block">
              <div class="mobile-navlink-image-wrapper">
                <div class="lottie-animation-3" data-w-id="5e6d880a-6321-c209-c05b-e0a0245823db" data-animation-type="lottie" data-src="{{ 'lf30_editor_zokqjmnu.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5" data-duration="0"></div>
              </div>
              <div class="nav-text-mobile">On Sale</div>
            </a>
            <a href="{{ pages["shop-by-intent"].url }}" class="mobile-navlink-wrapper w-inline-block">
              <div class="mobile-navlink-image-wrapper"><img src="{{ '_dsc1113-1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '_dsc1113-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1113-1-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1113-1-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1113-1-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1113-1.jpg' | asset_url }} 1715w" alt="" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">Shop By Intent</div>
            </a>
            <a href="{{ pages["find-by-crystal"].url }}" class="mobile-navlink-wrapper blue-bg w-inline-block">
              <div class="mobile-navlink-image-wrapper"><img src="{{ 'rock-1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'rock-1-p-500.jpeg' | asset_url }} 500w, {{ 'rock-1.jpg' | asset_url }} 600w" alt="" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">Shop By Crystal</div>
            </a>
            <a href="blog.html" aria-current="page" class="mobile-navlink-wrapper w-inline-block w--current">
              <div class="mobile-navlink-image-wrapper"><img src="{{ '615abf156dd68613770e0088_6151d5053a6c8580bdda6ddc_shop-hero-2_auto_x2.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '615abf156dd68613770e0088_6151d5053a6c8580bdda6ddc_shop-hero-2_auto_x2-p-500.jpeg' | asset_url }} 500w, {{ '615abf156dd68613770e0088_6151d5053a6c8580bdda6ddc_shop-hero-2_auto_x2.jpg' | asset_url }} 706w" alt="" class="image-max-cover circle"></div>
              <div class="nav-text-mobile">LEARN</div>
            </a>
          </div>
        </nav>
        <a id="w-node-_00281458-b60d-8199-3e65-1f0a94935334-24582394" href="{{ routes.account_login_url }}" class="nav-icon-button w-inline-block"><img src="{{ 'account.png' | asset_url }}" loading="lazy" width="20" data-w-id="f5916797-813f-5b88-3fef-b6227fab07e8" alt="" class="nav-icon-image"></a>
        <div data-hover="false" data-delay="0" id="w-node-d5b792f9-240f-6bd1-c3d8-8f28ba2c60b2-24582394" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="icon-3 w-icon-dropdown-toggle"></div><img src="{{ 'account.png' | asset_url }}" loading="lazy" alt="" class="image-16">
          </div>
          <nav class="dropdown-list-2 w-dropdown-list">
            <a href="#" class="dropdown-link w-dropdown-link">My Account</a>
            <a href="#" class="dropdown-link w-dropdown-link">My Address</a>
            <a href="#" class="dropdown-link w-dropdown-link">Log Out</a>
          </nav>
        </div>
        <div id="w-node-_5e6d880a-6321-c209-c05b-e0a0245823e3-24582394" class="div-block-15">
          <a href="#" class="search-button w-inline-block"><img src="{{ 'loupe.png' | asset_url }}" loading="lazy" width="20" data-w-id="5e6d880a-6321-c209-c05b-e0a0245823e5" alt="" class="nav-icon-image"></a>
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart mobile" udy-collection="cart">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button w-inline-block"><img src="{{ 'shoping-bag-icon.svg' | asset_url }}" loading="lazy" width="50" alt="" class="nav-icon">
              <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ blog.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer">
                <div class="w-commerce-commercecartheader cart-header">
                  <h3 class="w-commerce-commercecartheading heading-3">Your Cart</h3>
                  <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg class="icon" width="16px" height="16px" viewBox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                    <script type="text/x-wf-template" id="wf-template-5e6d880a-6321-c209-c05b-e0a0245823f3"><div data-node-type="cart-item" id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823f4" class="w-commerce-commercecartitem"><img data-node-type="cart-item-image" class="image-3 w-commerce-commercecartitemimage" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823f5" src="<%= it.image %>"><div data-node-type="cart-item-info" id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823f6" class="w-commerce-commercecartiteminfo"><h3 data-node-type="heading" class="heading-2" id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823f7"><%= it.title %></h3><div id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823f8"><%= it.price %></div><ul id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823f9" class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item" id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823fa"><span data-node-type="cart-option-list-item-label" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823fb"><%= data[0] %></span><span id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823fc">: </span><span data-node-type="cart-option-list-item-value" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823fe"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" href="#" id="" template-part-bind="5e6d880a-6321-c209-c05b-e0a0245823ff" data-product-id="<%= it.id %>"><div id="" item="remove" template-part-bind="5e6d880a-6321-c209-c05b-e0a024582400">Remove</div></a></div><input class="w-commerce-commercecartquantity cart-quantity-2" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                    <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-5e6d880a-6321-c209-c05b-e0a0245823f3"></div>
                    <div class="w-commerce-commercecartfooter">
                      <div class="w-commerce-commercecartlineitem">
                        <div class="nav-dropdown-text">Subtotal</div>
                        <div class="w-commerce-commercecartordervalue">{{ blog.items_subtotal_price | money }}</div>
                      </div>
                      <h2 class="heading-3 capital">100% purchase protection</h2>
                      <div class="checkout-actions">
                        <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton primary-button" data-loading-text="Hang Tight...">Continue to Checkout</a>
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate">
                    <div>No items found.</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">Product is not available in this quantity.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_5e6d880a-6321-c209-c05b-e0a024582411-24582394" class="div-block-16">
          <form action="/search" autocomplete="off" class="search hide w-form" method="get" role="search"><input type="search" class="search-input w-input" maxlength="256" name="q" placeholder="Find Everything You Are Looking For....." id="autoInput-mobile" required=""><input type="submit" value="" class="search-button-2 w-button"></form>
          <div id="searchTermsWrapper-mobile" class="suggestions">
            <ul id="search-terms-mobile" role="list" class="list-4 w-list-unstyled">
              <li class="list-item-7">
                <a href="#" class="list-term hide">Text Link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>