<div role="list" class="_3-col-grid w-dyn-items">

  
  <div role="listitem" class="w-dyn-item">
    <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles">
    <div class="festive-product" id="w-node-_8fa9d37f-9df3-8f86-a7c5-eb2dba523d16-6ca7e341" >
<img src="{{ 'Untitled design.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 44vw, (max-width: 991px) 34vw, 21vw" srcset="{{ 'Untitled design.png' | asset_url }} 500w, {{ 'Untitled design.png' | asset_url }} 641w" alt="" class="image-max-cover">              </div>
              <div class="flex">
                <h4 class="_1-5em-fs">Chakra Crystal Candles</h4>
              </div>
      
    </a>
          </div>

    <div role="listitem" class="w-dyn-item">
    <a href="https://bodhgemandcrystals.com/collections/crystal-trees">
    <div class="festive-product" id="w-node-_8fa9d37f-9df3-8f86-a7c5-eb2dba523d16-6ca7e341">
<img src="{{ 'crystal tree.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 44vw, (max-width: 991px) 34vw, 21vw" srcset="{{ 'crystal tree.png' | asset_url }} 500w, {{ 'crystal tree.png' | asset_url }} 641w" alt="" class="image-max-cover">              </div>
              <div class="flex">
                <h4 class="_1-5em-fs">Crystal Trees</h4>
              </div>
      
    </a>
          </div>

  
  <div role="listitem" class="w-dyn-item">
    <a href="https://bodhgemandcrystals.com/collections/angels-and-generators">
    <div class="festive-product" id="w-node-_8fa9d37f-9df3-8f86-a7c5-eb2dba523d16-6ca7e341" >
<img src="{{ 'angel.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 44vw, (max-width: 991px) 34vw, 21vw" srcset="{{ 'angel.png' | asset_url }} 500w, {{ 'angel.png' | asset_url }} 641w" alt="" class="image-max-cover">              </div>
              <div class="flex">
                <h4 class="_1-5em-fs">Angels</h4>
              </div>
      
    </a>
          </div>



  
</div>