<div class="circle-category-section wf-section">
    <div class="container">
      <div class="w-layout-grid _10-grid _17grid">
        <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="category-wrapper w-inline-block">
<<<<<<< HEAD
          <div class="category-image-wrapper"><img src="{{ 'spirituality-and-meditation-kit-202139.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'spirituality-and-meditation-kit-202139-p-500.jpeg' | asset_url }} 500w, {{ 'spirituality-and-meditation-kit-202139-p-800.jpeg' | asset_url }} 800w, {{ 'spirituality-and-meditation-kit-202139-p-1080.jpeg' | asset_url }} 1080w, {{ 'spirituality-and-meditation-kit-202139-p-1600.jpeg' | asset_url }} 1600w, {{ 'spirituality-and-meditation-kit-202139-p-2000.jpeg' | asset_url }} 2000w, {{ 'spirituality-and-meditation-kit-202139.jpeg' | asset_url }} 2048w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn7150ffcf' | t }}</h1>
=======
          <div class="category-image-wrapper"><img src="{{ 'spirituality-and-meditation-kit-202139.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ 'spirituality-and-meditation-kit-202139-p-500.jpeg' | asset_url }} 500w, {{ 'spirituality-and-meditation-kit-202139-p-800.jpeg' | asset_url }} 800w, {{ 'spirituality-and-meditation-kit-202139-p-1080.jpeg' | asset_url }} 1080w, {{ 'spirituality-and-meditation-kit-202139-p-1600.jpeg' | asset_url }} 1600w, {{ 'spirituality-and-meditation-kit-202139-p-2000.jpeg' | asset_url }} 2000w, {{ 'spirituality-and-meditation-kit-202139.jpeg' | asset_url }} 2048w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">Intention kits</h1>
>>>>>>> shopify
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc1702-3-p-500.jpeg' | asset_url }}" loading="lazy" alt="a pic of a stone" class="image-max-cover circle"></div>
          <div class="category-heading">
<<<<<<< HEAD
            <h1 class="heading-4 center">{{ 't3a410347' | t }}</h1>
=======
            <h1 class="heading-4 center">Crystal Kits</h1>
>>>>>>> shopify
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc2415.jpeg' | asset_url }}" loading="lazy" alt="crystal murti
" class="image-max-cover circle"></div>
          <div class="category-heading">
<<<<<<< HEAD
            <h1 class="heading-4 center">{{ 'tfc3f235' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'amethystangel3incolour-272378.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'amethystangel3incolour-272378-p-500.jpeg' | asset_url }} 500w, {{ 'amethystangel3incolour-272378-p-1080.jpeg' | asset_url }} 1080w, {{ 'amethystangel3incolour-272378-p-1600.jpeg' | asset_url }} 1600w, {{ 'amethystangel3incolour-272378-p-2000.jpeg' | asset_url }} 2000w, {{ 'amethystangel3incolour-272378.jpeg' | asset_url }} 2048w" alt="amethyst" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't2497b0e8' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/pyramids" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'pyramids.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'pyramids-p-500.jpeg' | asset_url }} 500w, {{ 'pyramids.jpg' | asset_url }} 680w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn6577ab0' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/pendulums" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-500.jpeg' | asset_url }} 500w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-800.jpeg' | asset_url }} 800w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }} 910w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't45fcf359' | t }}</h1>
          </div>
        </a>
        <a id="w-node-_2ca9bc67-745f-f1ef-5e92-83a549bf86d5-49bf86ae" href="https://bodhgemandcrystals.com/collections/face-rollers-gua-sha" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'faceroller_.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'faceroller_-p-500.jpeg' | asset_url }} 500w, {{ 'faceroller_.jpg' | asset_url }} 503w" alt="face roller" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't3afb96f2' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/chanting-mala" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn9eeaf17' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/massage-sticks" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'massage-stick.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'massage-stick-p-1080.jpeg' | asset_url }} 1080w, {{ 'massage-stick.jpg' | asset_url }} 1143w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't7d69ba18' | t }}</h1>
=======
            <h1 class="heading-4 center">Crystal murti</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'amethystangel3incolour-272378.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ 'amethystangel3incolour-272378-p-500.jpeg' | asset_url }} 500w, {{ 'amethystangel3incolour-272378-p-1080.jpeg' | asset_url }} 1080w, {{ 'amethystangel3incolour-272378-p-1600.jpeg' | asset_url }} 1600w, {{ 'amethystangel3incolour-272378-p-2000.jpeg' | asset_url }} 2000w, {{ 'amethystangel3incolour-272378.jpeg' | asset_url }} 2048w" alt="amethyst" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">Angels &amp; generators</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/pyramids" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }} 680w" alt="pyramids" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">pyramid</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/pendulums" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-500.jpeg' | asset_url }} 500w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-800.jpeg' | asset_url }} 800w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }} 910w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">pendulums</h1>
          </div>
        </a>
          <a href="https://bodhgemandcrystals.com/collections/facial-tools" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'faceroller_-p-500.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'faceroller_-p-500.jpeg' | asset_url }} 500w, {{ 'faceroller_-p-500.jpeg' | asset_url }} 503w" alt="face roller" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">facial tools</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/chanting-mala" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">chanting mala</h1>
>>>>>>> shopify
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="https://uploads-ssl.webflow.com/613b36b97ccfb87f99eaeb93/6145f182205dda63162eda81_Shiv-shakti-2.jpg" loading="lazy" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
<<<<<<< HEAD
            <h1 class="heading-4 center">{{ 't395a7392' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc1113-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '_dsc1113-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1113-1-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1113-1-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1113-1-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1113-1.jpg' | asset_url }} 1715w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn47a61894' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-grids" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc2421-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '_dsc2421-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2421-1.jpg' | asset_url }} 521w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tdaaf443' | t }}</h1>
=======
            <h1 class="heading-4 center">shiv shakti</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc1113-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ '_dsc1113-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1113-1-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1113-1-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1113-1-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1113-1.jpg' | asset_url }} 1715w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">charging tools</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-grids" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc2421-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.47916793823242px, 6vw" srcset="{{ '_dsc2421-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2421-1.jpg' | asset_url }} 521w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">Crystal Grids</h1>
>>>>>>> shopify
          </div>
        </a>
      </div>
      <div class="slider-mobile-view">
        <div data-delay="4000" data-animation="slide" class="mobile-category-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="w-slider-mask">
            <div class="slide w-slide">
              <div class="w-layout-grid _10-grid _4-grid">
                <a id="w-node-_2ca9bc67-745f-f1ef-5e92-83a549bf86fe-49bf86ae" href="https://bodhgemandcrystals.com/collections/intention-kits" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'spirituality-and-meditation-kit-202139.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'spirituality-and-meditation-kit-202139-p-500.jpeg' | asset_url }} 500w, {{ 'spirituality-and-meditation-kit-202139-p-800.jpeg' | asset_url }} 800w, {{ 'spirituality-and-meditation-kit-202139-p-1080.jpeg' | asset_url }} 1080w, {{ 'spirituality-and-meditation-kit-202139-p-1600.jpeg' | asset_url }} 1600w, {{ 'spirituality-and-meditation-kit-202139-p-2000.jpeg' | asset_url }} 2000w, {{ 'spirituality-and-meditation-kit-202139.jpeg' | asset_url }} 2048w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 'tn7150ffcf' | t }}</h1>
=======
                    <h1 class="heading-4 center">Intention kits</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a id="w-node-_2ca9bc67-745f-f1ef-5e92-83a549bf8704-49bf86ae" href="https://bodhgemandcrystals.com/collections/crystal-kits" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc1702-3-p-500.jpeg' | asset_url }}" loading="lazy" alt="a pic of a stone" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 't3a410347' | t }}</h1>
=======
                    <h1 class="heading-4 center">Crystal Kits</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc2415.jpeg' | asset_url }}" loading="lazy" alt="crystal murti
" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 'tfc3f235' | t }}</h1>
=======
                    <h1 class="heading-4 center">Crystal murti</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'amethystangel3incolour-272378.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'amethystangel3incolour-272378-p-500.jpeg' | asset_url }} 500w, {{ 'amethystangel3incolour-272378-p-1080.jpeg' | asset_url }} 1080w, {{ 'amethystangel3incolour-272378-p-1600.jpeg' | asset_url }} 1600w, {{ 'amethystangel3incolour-272378-p-2000.jpeg' | asset_url }} 2000w, {{ 'amethystangel3incolour-272378.jpeg' | asset_url }} 2048w" alt="amethyst" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 't2497b0e8' | t }}</h1>
=======
                    <h1 class="heading-4 center">Angels &amp; generators</h1>
>>>>>>> shopify
                  </div>
                </a>
              </div>
            </div>
            <div class="w-slide">
              <div class="w-layout-grid _10-grid _4-grid">
                <a href="https://bodhgemandcrystals.com/collections/pyramids" class="category-wrapper w-inline-block">
<<<<<<< HEAD
                  <div class="category-image-wrapper"><img src="{{ 'pyramids.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'pyramids-p-500.jpeg' | asset_url }} 500w, {{ 'pyramids.jpg' | asset_url }} 680w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 'tn6577ab0' | t }}</h1>
=======
                  <div class="category-image-wrapper"><img src="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }} 680w" alt="pyramids" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">pyramid</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/pendulums" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-500.jpeg' | asset_url }} 500w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e-p-800.jpeg' | asset_url }} 800w, {{ '5fbe759033e958017a617f63_5f963f72b68ed7050eb5769f_dsc_9476e.jpeg' | asset_url }} 910w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 't45fcf359' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/face-rollers-gua-sha" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'faceroller_.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'faceroller_-p-500.jpeg' | asset_url }} 500w, {{ 'faceroller_.jpg' | asset_url }} 503w" alt="face roller" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't3afb96f2' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/chanting-mala" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 'tn9eeaf17' | t }}</h1>
=======
                    <h1 class="heading-4 center">pendulums</h1>
                  </div>
                </a>
                 <a href="https://bodhgemandcrystals.com/collections/facial-tools" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'facial_tools_bodh_1.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'facial_tools_bodh_1.webp' | asset_url }} 500w, {{ 'facial_tools_bodh_1.webp' | asset_url }} 503w" alt="face roller" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">facial tools</h1>
          </div>
        </a>
                <a href="https://bodhgemandcrystals.com/collections/chanting-mala" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800-p-500.jpeg' | asset_url }} 500w, {{ '5fbe75832c142d21720b369c_5f963df31d99c001a6e220f3_selected2-p-800.jpeg' | asset_url }} 800w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">chanting mala</h1>
>>>>>>> shopify
                  </div>
                </a>
              </div>
            </div>
            <div class="w-slide">
              <div class="w-layout-grid _10-grid _4-grid">
                <a href="https://bodhgemandcrystals.com/collections/massage-sticks" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'massage-stick.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'massage-stick-p-1080.jpeg' | asset_url }} 1080w, {{ 'massage-stick.jpg' | asset_url }} 1143w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 't7d69ba18' | t }}</h1>
=======
                    <h1 class="heading-4 center">massage sticks</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="https://uploads-ssl.webflow.com/613b36b97ccfb87f99eaeb93/6145f182205dda63162eda81_Shiv-shakti-2.jpg" loading="lazy" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 't395a7392' | t }}</h1>
=======
                    <h1 class="heading-4 center">shiv shakti</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc1113-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '_dsc1113-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1113-1-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1113-1-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1113-1-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1113-1.jpg' | asset_url }} 1715w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 'tn47a61894' | t }}</h1>
=======
                    <h1 class="heading-4 center">charging tools</h1>
>>>>>>> shopify
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc2421-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '_dsc2421-1-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2421-1.jpg' | asset_url }} 521w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
<<<<<<< HEAD
                    <h1 class="heading-4 center">{{ 'tdaaf443' | t }}</h1>
=======
                    <h1 class="heading-4 center">Crystal Grids</h1>
>>>>>>> shopify
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left"></div>
          <div class="right-arrow w-slider-arrow-right"></div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>