
    <div class="container footer-flex">
      <div class="div-block-5">
        <a href="{{ routes.root_url }}" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ 'bodh-logo.png' | asset_url }}" loading="lazy" width="48" alt=""></a>
<<<<<<< HEAD
        <div class="navbar-item-wrapper">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div data-w-id="5e9aca8b-bc1c-c422-3498-3959cbc44816" class="learn-holder">
              <a href="https://bodhgemandcrystals.com/pages/shop" class="nav-outside-link">{{ 't26d2f6' | t }}</a>
              <a href="https://bodhgemandcrystals.com/pages/shop-by-intent" class="nav-outside-link">{{ 't34f305db' | t }}</a>
              <a href="https://bodhgemandcrystals.com/pages/find-by-crystal" class="nav-outside-link">{{ 't33289bb7' | t }}</a>
              <div class="animation-wrapper-pc">
                <div class="sale-animation" data-w-id="726bdc30-98ae-55a3-5497-f3f47fd64bec" data-animation-type="lottie" data-src="{{ 'lf30_editor_wqu6qllb.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5" data-duration="0"></div>
                <a href="https://bodhgemandcrystals.com/collections/on-sale" class="nav-outside-link">{{ 'tn25f00e18' | t }}</a>
              </div>
              <a href="https://bodhgemandcrystals.com/blogs/shapes-of-crystals" class="nav-outside-link">{{ 't44f5624' | t }}</a>
            </div>
            <div class="accordian-wrapper hide">
              <div data-w-id="dc1e92c0-083c-581e-71ab-7367da93bfd7" class="accordian-item-trigger nav-mobile-trigger">
                <div class="nav-text capital">{{ 't4fc84823' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
              </div>
              <div class="accordian-item-content nav-flex">
                <a href="https://bodhgemandcrystals.com/collections/anklets" class="nav-sub-link">{{ 'tn82c778a' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/bracelets" class="nav-sub-link">{{ 't647eaa4b' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-pendants" class="nav-sub-link">{{ 'tn555269ff' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link">{{ 'tn10c34d7b' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/stackable-bracelet" class="nav-sub-link">{{ 'tn61d55073' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/necklaces" class="nav-sub-link">{{ 'tn76ea9263' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/earrings" class="nav-sub-link">{{ 'tn1469553' | t }}</a>
                <a href="https://www.bodhgemandcrystals.com/collections/estrella-by-bodh" class="nav-sub-link">{{ 'tn45ae91f8' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/mask-chains" class="nav-sub-link">{{ 't63c8fd86' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="nav-sub-link">{{ 'tn15c3b972' | t }}</a>
                <a href="{{ pages["jewellery"].url }}" class="nav-sub-link">{{ 't4ed5782a' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-rings" class="nav-sub-link">{{ 'tn82c778a' | t }}</a>
=======
        <div id="w-node-_726bdc30-98ae-55a3-5497-f3f47fd64b5f-7fd64b5a" class="navbar-item-wrapper">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div data-w-id="5e9aca8b-bc1c-c422-3498-3959cbc44816" class="learn-holder">
              <a href="https://bodhgemandcrystals.com/pages/shop" class="nav-outside-link">SHOP</a>
              <a href="https://bodhgemandcrystals.com/pages/shop-by-intent" class="nav-outside-link">SHOP BY INTENT</a>
              <a href="https://bodhgemandcrystals.com/pages/find-by-crystal" class="nav-outside-link">SHOP BY CRYSTAL</a>
              <a href="https://bodhgemandcrystals.com/collections/diwali" class="nav-outside-link">CRYSTAL HAMPERS</a>
              <a href="https://bodhgemandcrystals.com/pages/festive" class="nav-outside-link">FESTIVE</a>
                            <a href="https://bodhgemandcrystals.com/pages/gifting" class="nav-outside-link">GIFTING</a>

              <div class="animation-wrapper-pc">
                <div class="sale-animation" data-w-id="726bdc30-98ae-55a3-5497-f3f47fd64bec" data-animation-type="lottie" data-src="{{ 'lf30_editor_wqu6qllb.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5" data-duration="0"></div>
                <a href="https://bodhgemandcrystals.com/collections/on-sale" class="nav-outside-link">ON SALE</a>
              </div>
              <a href="https://bodhgemandcrystals.com/blogs/shapes-of-crystals" class="nav-outside-link">LEARN</a>
            </div>
            <div class="accordian-wrapper hide">
              <div data-w-id="dc1e92c0-083c-581e-71ab-7367da93bfd7" class="accordian-item-trigger nav-mobile-trigger">
                <div class="nav-text capital">JEWELLERY</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
              </div>
              <div class="accordian-item-content nav-flex">
                <a href="https://bodhgemandcrystals.com/collections/bracelets" class="nav-sub-link">BRACELETS</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-pendants" class="nav-sub-link">CRYSTAL PENDANTS</a>
                <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link">HEALING BRACELETS</a>
                <a href="https://bodhgemandcrystals.com/collections/stackable-bracelet" class="nav-sub-link">STACKABLE BRACELETS</a>
                <a href="https://bodhgemandcrystals.com/collections/necklaces" class="nav-sub-link">NECKLACES</a>
                <a href="https://bodhgemandcrystals.com/collections/earrings" class="nav-sub-link">EARRINGS</a>
                <a href="https://bodhgemandcrystals.com/collections/estrella-by-bodh" class="nav-sub-link">ESTRELLA</a>
                <a href="https://bodhgemandcrystals.com/collections/mask-chains" class="nav-sub-link">MASK CHAINS</a>
                <a href="https://bodhgemandcrystals.com/collections/anklets" class="nav-sub-link">ANKLETS</a>
                <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="nav-sub-link">PHONE CHARMS</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-rings" class="nav-sub-link">CRYSTAL RINGS</a>
                <a href="{{ pages["jewellery"].url }}" class="nav-sub-link">VIEW ALL JEWLLERY</a>
>>>>>>> shopify
              </div>
            </div>
            <div class="accordian-wrapper hide">
              <div data-w-id="2d06260a-b5b6-5f1f-9d25-1dad43f35935" class="accordian-item-trigger nav-mobile-trigger">
<<<<<<< HEAD
                <div class="nav-text capital">{{ 't31083ec4' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
              </div>
              <div class="accordian-item-content nav-flex">
                <a href="https://bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link">{{ 't7614edc2' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link">{{ 'tn439e2337' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link">{{ 'tn4395b598' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="nav-sub-link">{{ 'tn1bfb48de' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/candle-holder" class="nav-sub-link">{{ 'tn3e4695e1' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/coasters" class="nav-sub-link">{{ 'tn9611cf0' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/roses" class="nav-sub-link">{{ 't4a8b0e4' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/ducks" class="nav-sub-link">{{ 'tn30011ed0' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/hearts" class="nav-sub-link">{{ 't35ce6137' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="nav-sub-link">{{ 'tn15859286' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="nav-sub-link">{{ 't30810cf7' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystalline-by-bodh" class="nav-sub-link">{{ 't4668b5c4' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/mini-cluster" class="nav-sub-link">{{ 'tn7b42c9e' | t }}</a>
                <a href="{{ pages["home-decor"].url }}" class="nav-sub-link">{{ 't530a59e' | t }}</a>
=======
                <div class="nav-text capital">HOME DECOR</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
              </div>
              <div class="accordian-item-content nav-flex">
                <a href="https://bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link">RAW CLUSTER</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link">CRYSTAL BALL</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link">CRYSTAL TREE</a>
                <a href="https://bodhgemandcrystals.com/collections/candle-holder" class="nav-sub-link">CANDLE HOLDER</a>
                <a href="https://bodhgemandcrystals.com/collections/coasters" class="nav-sub-link">COASTERS</a>
                <a href="https://bodhgemandcrystals.com/collections/roses" class="nav-sub-link">ROSES</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="nav-sub-link">CRYSTAL MURTI</a>
                <a href="https://bodhgemandcrystals.com/collections/ducks" class="nav-sub-link">CRYSTAL DUCKS</a>
                <a href="https://bodhgemandcrystals.com/collections/hearts" class="nav-sub-link">CRYSTAL HEARTS</a>
                                <a href="https://bodhgemandcrystals.com/collections/crystalline-by-bodh" class="nav-sub-link">CRYSTALLINE BY BODH</a>
<a href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="nav-sub-link ">CRYSTAL DIYA</a>
                <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="nav-sub-link">CHAKRA CRYSTAL CANDLES</a>
                <a href="https://bodhgemandcrystals.com/collections/mini-cluster" class="nav-sub-link">MINI CLUSTERS</a>
                
                <a href="{{ pages["home-decor"].url }}" class="nav-sub-link">VIEW ALL HOME DECOR</a>
>>>>>>> shopify
              </div>
            </div>
            <div class="accordian-wrapper hide">
              <div data-w-id="5fd8a3e0-77f9-44a0-f708-a3d375a1832e" class="accordian-item-trigger nav-mobile-trigger">
<<<<<<< HEAD
                <div class="nav-text capital">{{ 't5a36acda' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
              </div>
              <div class="accordian-item-content nav-flex">
                <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="nav-sub-link">{{ 'tne1f7b9e' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="nav-sub-link">{{ 'tn1736aab7' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="nav-sub-link">{{ 'tn2f8211eb' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link">{{ 't4c88cad1' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link">{{ 'tn439e2337' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link">{{ 'tn2f20fd15' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link">{{ 'tn10c34d7b' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="nav-sub-link">{{ 'tnf589ef8' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/pyramids" class="nav-sub-link">{{ 't6a0e1523' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/pendulums" class="nav-sub-link">{{ 'tn13eafcc7' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/facial-tools" class="nav-sub-link">{{ 'tn51733cf9' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/chanting-mala" class="nav-sub-link">{{ 'tn4e6da717' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/charging-tools" class="nav-sub-link">{{ 'tn47a61894' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="nav-sub-link">{{ 't62786b51' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/massage-sticks" class="nav-sub-link hide">{{ 'tn67c9f9c8' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/ducks" class="nav-sub-link">{{ 't3e5e6ba' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/hearts" class="nav-sub-link">{{ 't7ec80ced' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="nav-sub-link">{{ 't56756f92' | t }}</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-grids" class="nav-sub-link">{{ 'tn2fd81fbd' | t }}</a>
                <a href="{{ pages["healing"].url }}" class="nav-sub-link">{{ 'tn55ebbc0' | t }}</a>
              </div>
            </div>
            <div data-delay="0" data-hover="true" class="nav-dropdown-wrapper-pc w-dropdown">
              <div class="nav-link w-dropdown-toggle">
                <div class="nav-text">{{ 'tn564fc7bd' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
=======
                <div class="nav-text capital">HEALING</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
              </div>
              <div class="accordian-item-content nav-flex">
                <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="nav-sub-link">INTENTION KIT</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="nav-sub-link">CRYTSAL KITS</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="nav-sub-link">CRYSTAL MURTI</a>
                <a href="https://bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link">RAW CLUSTERS</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link">CRYSTAL BALL</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link">CRYSTAL TREES</a>
                <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link">HEALING BRACELETS</a>
                <a href="https://bodhgemandcrystals.com/collections/angels-generators" class="nav-sub-link">ANGELS &amp; GENERATORS</a>
                <a href="https://www.bodhgemandcrystals.com/collections/charging-tools" class="nav-sub-link">CHARGING TOOLS</a>
                <a href="https://bodhgemandcrystals.com/collections/pyramids" class="nav-sub-link">PYRAMIDS</a>
                <a href="https://bodhgemandcrystals.com/collections/pendulums" class="nav-sub-link">PENDULUMS</a>
                <a href="https://bodhgemandcrystals.com/collections/facial-tools" class="nav-sub-link">FACIAL TOOLS</a>
                <a href="https://bodhgemandcrystals.com/collections/chanting-mala" class="nav-sub-link">CHANTING MALA</a>
       {%comment%}         <a href="https://bodhgemandcrystals.com/collections/massage-sticks" class="nav-sub-link">MASSAGE STICKS</a>{%endcomment%}
                <a href="https://bodhgemandcrystals.com/collections/ducks" class="nav-sub-link">DUCKS</a>
                <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="nav-sub-link">TUMBLES & CHIPS</a>
                <a href="https://bodhgemandcrystals.com/collections/hearts" class="nav-sub-link">HEARTS</a>
                <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="nav-sub-link">SHIV SHAKTI</a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-grids" class="nav-sub-link">CRYSTAL GRIDS</a>
                <a href="{{ pages["healing"].url }}" class="nav-sub-link">VIEW ALL HEALING</a>
              </div>
            </div>

            
           <div class="nav-link">
                <div class="nav-text hide-mobile"><a href="https://bodhgemandcrystals.com/collections/diwali">CRYSTAL HAMPERS</a></div>
             </div> 
            <div data-delay="0" data-hover="true" class="nav-dropdown-wrapper-pc w-dropdown">
              <div class="nav-link w-dropdown-toggle">
                <div class="nav-text">jewellery</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
>>>>>>> shopify
              </div>
              <nav class="nav-dropdown _1 w-dropdown-list">
                <div class="nav-dropdown-div">
                  <div class="sub-nav-link-holder">
<<<<<<< HEAD
                    <a href="https://www.bodhgemandcrystals.com/collections/bracelets" class="nav-sub-link w-dropdown-link">{{ 't1bcab28' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link w-dropdown-link">{{ 'tee027ae' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/necklaces" class="nav-sub-link w-dropdown-link">{{ 't34773596' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/earrings" class="nav-sub-link w-dropdown-link">{{ 'tn11f0119a' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/estrella-by-bodh" class="nav-sub-link w-dropdown-link">{{ 'tn707a1dd8' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="nav-sub-link w-dropdown-link">{{ 'tn571d0373' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/anklets" class="nav-sub-link w-dropdown-link">{{ 't30409476' | t }}</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://bodhgemandcrystals.com/collections/crystal-pendants" class="nav-sub-link w-dropdown-link">{{ 'tn7725b5bf' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/stackable-bracelet" class="nav-sub-link w-dropdown-link">{{ 'tn45c77893' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="nav-sub-link w-dropdown-link">{{ 'tn6979c952' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="nav-sub-link w-dropdown-link">{{ 'tn6979c952' | t }}</a>
                    <a href="{{ pages["jewellery"].url }}" class="nav-sub-link w-dropdown-link">{{ 't4b09c9c6' | t }}<br>{{ 'tn55af83fd' | t }}</a>
                  </div>
                  <div class="nav-image-holder"><img sizes="(max-width: 479px) 0px, 100vw" src="{{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }}" loading="eager" srcset="{{ '5fbe757a8b771e2f8b470450-p-500.jpeg' | asset_url }} 500w, {{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }} 710w" alt="" class="image-max-cover"></div>
=======
                    <a href="https://www.bodhgemandcrystals.com/collections/bracelets" class="nav-sub-link w-dropdown-link">Bracelets</a>
                    <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link w-dropdown-link">Healing Bracelets</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/necklaces" class="nav-sub-link w-dropdown-link">Necklaces</a>
                    <a href="https://bodhgemandcrystals.com/collections/earrings" class="nav-sub-link w-dropdown-link">Earrings</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/estrella-by-bodh" class="nav-sub-link w-dropdown-link">Estrella</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="nav-sub-link w-dropdown-link">Mask Chains</a>
                    <a href="https://bodhgemandcrystals.com/collections/anklets" class="nav-sub-link w-dropdown-link">Anklets</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://bodhgemandcrystals.com/collections/crystal-pendants" class="nav-sub-link w-dropdown-link">Crystal Pendants</a>
                    <a href="https://bodhgemandcrystals.com/collections/phone-charms" class="nav-sub-link w-dropdown-link">Phone Charms</a>
                    <a href="https://bodhgemandcrystals.com/collections/stackable-bracelet" class="nav-sub-link w-dropdown-link">Stackable Bracelets</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-rings" class="nav-sub-link">Crystal Rings</a>
                    <a href="{{ pages["jewellery"].url }}" class="nav-sub-link w-dropdown-link">View all<br> Jewellery</a>
                  </div>
                  <div class="nav-image-holder"><img sizes="100vw" srcset="{{ '5fbe757a8b771e2f8b470450-p-500.jpeg' | asset_url }} 500w, {{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }} 710w" src="{{ '5fbe757a8b771e2f8b470450.jpeg' | asset_url }}" loading="eager" alt="" class="image-max-cover"></div>
>>>>>>> shopify
                </div>
              </nav>
            </div>
            <div data-hover="true" data-delay="100" class="nav-dropdown-wrapper-pc w-dropdown">
              <div class="nav-link w-dropdown-toggle">
<<<<<<< HEAD
                <div class="nav-text">{{ 'tn227cc11c' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
=======
                <div class="nav-text">home decor</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow left-pading-3px">
>>>>>>> shopify
              </div>
              <nav class="nav-dropdown _2 w-dropdown-list">
                <div class="nav-dropdown-div">
                  <div class="sub-nav-link-holder">
<<<<<<< HEAD
                    <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link w-dropdown-link">{{ 't4781baf1' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link w-dropdown-link">{{ 'td5cd0aa' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link w-dropdown-link">{{ 'te6216eb' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="nav-sub-link w-dropdown-link">{{ 't121caf42' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/candle-holder" class="nav-sub-link w-dropdown-link">{{ 't22c8be34' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/coasters" class="nav-sub-link w-dropdown-link">{{ 'tn342ca8d0' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/roses" class="nav-sub-link w-dropdown-link">{{ 't4b7b8e4' | t }}</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://bodhgemandcrystals.com/collections/ducks" class="nav-sub-link w-dropdown-link">{{ 'td81f530' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/hearts" class="nav-sub-link w-dropdown-link">{{ 'tn575232a9' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="nav-sub-link w-dropdown-link">{{ 'tn28e01434' | t }}<br>{{ 'tn7bfb391a' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="nav-sub-link w-dropdown-link">{{ 't3a3dd537' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystalline-by-bodh" class="nav-sub-link w-dropdown-link">{{ 'tnbb9765c' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/mini-cluster" class="nav-sub-link w-dropdown-link">{{ 'tn1686909e' | t }}</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="{{ pages["home-decor"].url }}" class="nav-sub-link w-dropdown-link">{{ 't4b09c9c6' | t }}<br>{{ 't52922ae4' | t }}</a>
                  </div>
                  <div class="nav-image-holder"><img src="{{ 'pyramids.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 0px, 100vw" srcset="{{ 'pyramids-p-500.jpeg' | asset_url }} 500w, {{ 'pyramids.jpg' | asset_url }} 680w" alt="" class="image-max-cover"></div>
=======
                    <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link w-dropdown-link">Raw Cluster</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link w-dropdown-link">Crystal Ball</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link w-dropdown-link">Crystal Tree</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/candle-holder" class="nav-sub-link w-dropdown-link">Candle Holder</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/coasters" class="nav-sub-link w-dropdown-link">Coasters</a>
                    <a href="https://bodhgemandcrystals.com/collections/roses" class="nav-sub-link w-dropdown-link">Roses</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="nav-sub-link w-dropdown-link">Crystal Murti</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://bodhgemandcrystals.com/collections/ducks" class="nav-sub-link w-dropdown-link">Crystal Ducks</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/hearts" class="nav-sub-link w-dropdown-link">Crystal Hearts</a>
                    <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="nav-sub-link w-dropdown-link">Chakra Crystal <br>Candle</a>
                                        <a href="https://bodhgemandcrystals.com/collections/crystal-diya-1" class="nav-sub-link w-dropdown-link">Crystal Diya</a>

                                                    <a href="https://bodhgemandcrystals.com/collections/crystalline-by-bodh" class="nav-sub-link">Crystalline By Bodh</a>

                    <a href="https://bodhgemandcrystals.com/collections/mini-cluster" class="nav-sub-link w-dropdown-link">Mini Clusters</a>
                  </div>
                   <div class="sub-nav-link-holder">
                                        <a href="{{ pages["home-decor"].url }}" class="nav-sub-link w-dropdown-link">View all<br>Home Decor</a>

                  </div>
                  <div class="nav-image-holder"><img src="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7586e292284bb344f8d1_5f963f8da2bf707be00f6343_selected9-1.jpeg' | asset_url }} 680w" alt="pyramids" class="image-max-cover"></div>
>>>>>>> shopify
                </div>
              </nav>
            </div>
            <div data-hover="true" data-delay="100" class="nav-dropdown-wrapper-pc w-dropdown">
              <div class="nav-link w-dropdown-toggle">
<<<<<<< HEAD
                <div class="nav-text">{{ 't2f6b20fa' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
=======
                <div class="nav-text">healing</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
>>>>>>> shopify
              </div>
              <nav class="nav-dropdown _3 w-dropdown-list">
                <div class="nav-dropdown-div">
                  <div class="sub-nav-link-holder">
<<<<<<< HEAD
                    <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="nav-sub-link w-dropdown-link">{{ 'tn715f8baf' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="nav-sub-link w-dropdown-link">{{ 't3a410347' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="nav-sub-link w-dropdown-link">{{ 'tn4de0bf02' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link w-dropdown-link">{{ 't4781baf1' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link w-dropdown-link">{{ 'td5cd0aa' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link w-dropdown-link">{{ 'te6216eb' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link w-dropdown-link">{{ 'tn32db317b' | t }}</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://www.bodhgemandcrystals.com/collections/angels-generators" class="nav-sub-link w-dropdown-link">{{ 't2b3a5e39' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pyramids" class="nav-sub-link w-dropdown-link">{{ 't3f428943' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pendulums" class="nav-sub-link w-dropdown-link">{{ 'tn4290ecc7' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/facial-tools" class="nav-sub-link w-dropdown-link">{{ 'tn496ad8f9' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/chanting-mala" class="nav-sub-link w-dropdown-link">{{ 't25a1f4e9' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="nav-sub-link w-dropdown-link">{{ 't14eb6f71' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/ducks" class="nav-sub-link w-dropdown-link">{{ 't20acd9' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/massage-sticks" class="nav-sub-link hide w-dropdown-link">{{ 't5b323d7b' | t }}</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://www.bodhgemandcrystals.com/collections/hearts" class="nav-sub-link w-dropdown-link">{{ 't4260026' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="nav-sub-link w-dropdown-link">{{ 't66290792' | t }}</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/charging-tools" class="nav-sub-link w-dropdown-link">{{ 't7addc36c' | t }}</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-grids" class="nav-sub-link w-dropdown-link">{{ 'tdaaf443' | t }}</a>
                    <a href="{{ pages["healing"].url }}" class="nav-sub-link w-dropdown-link">{{ 'tn73ae5fa0' | t }}</a>
=======
                    <a href="https://bodhgemandcrystals.com/collections/intention-kits" class="nav-sub-link w-dropdown-link">Intention Kits</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-kits" class="nav-sub-link w-dropdown-link">Crystal Kits</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-murti" class="nav-sub-link w-dropdown-link">Crystal Murtis</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/raw-clusters" class="nav-sub-link w-dropdown-link">Raw Cluster</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-balls" class="nav-sub-link w-dropdown-link">Crystal Balls</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/crystal-trees" class="nav-sub-link w-dropdown-link">Crystal Trees</a>
                    <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="nav-sub-link w-dropdown-link">Healing Bracelets</a>
                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://www.bodhgemandcrystals.com/collections/angels-generators" class="nav-sub-link w-dropdown-link">Angel &amp; Generators</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pyramids" class="nav-sub-link w-dropdown-link">Pyramids</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pendulums" class="nav-sub-link w-dropdown-link">Pendulums</a>
                    <a href="https://bodhgemandcrystals.com/collections/facial-tools" class="nav-sub-link w-dropdown-link">Facial Tools</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/chanting-mala" class="nav-sub-link w-dropdown-link">Chanting Mala</a>
        {%comment%}            <a href="https://www.bodhgemandcrystals.com/collections/massage-sticks" class="nav-sub-link w-dropdown-link">Massage Sticks</a>{%endcomment%}
                    
                                        <a href="https://www.bodhgemandcrystals.com/collections/ducks" class="nav-sub-link w-dropdown-link">Crystal Ducks</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="nav-sub-link w-dropdown-link">Tumbles & Chips</a>


                  </div>
                  <div class="sub-nav-link-holder">
                    <a href="https://www.bodhgemandcrystals.com/collections/hearts" class="nav-sub-link w-dropdown-link">Crystal Hearts</a>
                    <a href="https://bodhgemandcrystals.com/collections/shiv-shakti" class="nav-sub-link w-dropdown-link">Shiv Shaktis</a>
                    <a href="https://www.bodhgemandcrystals.com/collections/charging-tools" class="nav-sub-link w-dropdown-link">Charging Tools</a>
                    <a href="https://bodhgemandcrystals.com/collections/crystal-grids" class="nav-sub-link w-dropdown-link">Crystal Grids</a>
                    <a href="{{ pages["healing"].url }}" class="nav-sub-link w-dropdown-link">View All Healing</a>
>>>>>>> shopify
                  </div>
                  <div class="nav-image-holder">{%- if section.settings.nav_image == nil -%}<img src="https://uploads-ssl.webflow.com/613b36b97ccfb87f99eaeb93/6145d48b62f7c83b91d6d7c7__DSC1702-3.jpg" loading="eager" alt="" class="image-max-cover">{%- else -%}<img src="{{ section.settings.nav_image.src | img_url: 'master' }}" loading="eager" alt="{{ section.settings.nav_image.alt | escape }}" class="image-max-cover" srcset="{{ section.settings.nav_image | img_url: '1920x' }} 1920w,{{ section.settings.nav_image | img_url: '1600x' }} 1600w,{{ section.settings.nav_image | img_url: '1366x' }} 1366w,{{ section.settings.nav_image | img_url: '1024x' }} 1024w,{{ section.settings.nav_image | img_url: '768x' }} 768w,{{ section.settings.nav_image | img_url: '640x' }} 640w">{%- endif -%}</div>
                </div>
              </nav>
            </div>
            <div data-hover="true" data-delay="100" class="nav-dropdown-wrapper-pc w-dropdown">
              <div class="nav-link w-dropdown-toggle">
<<<<<<< HEAD
                <div class="nav-text">{{ 't35daf6' | t }}</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
=======
                <div class="nav-text">shop</div><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="" class="down-arrow">
>>>>>>> shopify
              </div>
              <nav class="nav-dropdown _4 w-dropdown-list">
                <div class="nav-dropdown-div">
                  <div class="sub-nav-link-holder">
<<<<<<< HEAD
                    <a href="{{ pages["shop-by-intent"].url }}" class="nav-sub-link w-dropdown-link">{{ 't1ea44e1b' | t }}</a>
                    <a href="{{ pages["find-by-crystal"].url }}" class="nav-sub-link w-dropdown-link">{{ 't7fa05b97' | t }}</a>
                    <a href="#" class="nav-sub-link hide w-dropdown-link">{{ 't7fa05b97' | t }}</a>
                    <a href="{{ pages["shop"].url }}" class="nav-sub-link w-dropdown-link">{{ 't7443f8d6' | t }}</a>
                    <div class="animation-wrapper-pc">
                      <div class="sale-animation" data-w-id="38f10a1a-438d-13bb-077c-1a1b0b5006de" data-animation-type="lottie" data-src="{{ 'lf30_editor_wqu6qllb.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5" data-duration="0"></div>
                      <a href="https://bodhgemandcrystals.com/collections/on-sale" class="nav-sub-link w-dropdown-link">{{ 'tn2b016de5' | t }}</a>
                    </div>
                  </div>
                  <div class="nav-image-holder"><img src="{{ 'bracelet.jpeg' | asset_url }}" loading="eager" sizes="(max-width: 479px) 0px, 100vw" srcset="{{ 'bracelet-p-500.jpeg' | asset_url }} 500w, {{ 'bracelet-p-800.jpeg' | asset_url }} 800w, {{ 'bracelet.jpeg' | asset_url }} 869w" alt="" class="image-max-cover"></div>
                </div>
              </nav>
            </div>
            <a href="{{ section.settings.nav_link }}" class="nav-link hide w-nav-link">{{ section.settings.nav_link_text }}</a>
            <a href="https://bodhgemandcrystals.com/blogs/shapes-of-crystals" class="nav-link w-inline-block">
              <div class="nav-text">{{ 't44f5624' | t }}</div>
            </a>
=======
                    <a href="{{ pages["shop-by-intent"].url }}" class="nav-sub-link w-dropdown-link">Shop by Intent</a>
                    <a href="{{ pages["find-by-crystal"].url }}" class="nav-sub-link w-dropdown-link">Shop by Crystal</a>
                    <a href="{{ pages["festive"].url }}" class="nav-sub-link w-dropdown-link">Festive</a>
                    <a href="https://bodhgemandcrystals.com/pages/gifting" class="nav-outside-link">Gifting</a>
                    <a href="#" class="nav-sub-link hide w-dropdown-link">Shop by Crystal</a>
                    <a href="{{ pages["shop"].url }}" class="nav-sub-link w-dropdown-link">View all Categories</a>
                    <div class="animation-wrapper-pc">
                      <div class="sale-animation" data-w-id="38f10a1a-438d-13bb-077c-1a1b0b5006de" data-animation-type="lottie" data-src="{{ 'lf30_editor_wqu6qllb.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5" data-duration="0"></div>
                      <a href="https://bodhgemandcrystals.com/collections/on-sale" class="nav-sub-link w-dropdown-link">Item on Sale</a>
                    </div>
                  </div>
                  <div class="nav-image-holder"><img src="{{ 'bracelet.jpeg' | asset_url }}" loading="eager" sizes="100vw" srcset="{{ 'bracelet-p-500.jpeg' | asset_url }} 500w, {{ 'bracelet-p-800.jpeg' | asset_url }} 800w, {{ 'bracelet.jpeg' | asset_url }} 869w" alt="" class="image-max-cover"></div>
                </div>
              </nav>
            </div>
            <div class="nav-link">
                <div class="nav-text hide-mobile"><a href="https://bodhgemandcrystals.com/blogs/shapes-of-crystals">LEARN</a></div>
             </div>
            <a href="{{ section.settings.nav_link }}" class="nav-link hide w-nav-link">{{ section.settings.nav_link_text }}</a>
            
>>>>>>> shopify
          </nav>
          {%- unless customer -%}<a href="{{ routes.account_login_url }}" class="nav-icon-button w-inline-block"><img src="{{ 'ant-design_user-outlined.svg' | asset_url }}" loading="lazy" width="20" data-w-id="9da40bdc-6d6d-1aa8-95b2-da6de0a2f1fc" alt="" class="nav-icon-image"></a>{%- endunless -%}
          {%- if customer -%}<div data-hover="false" data-delay="0" class="dropdown w-dropdown">
            {%- if customer -%}<div class="nav-icon-button w-dropdown-toggle">
              <div class="dropdown-image-div"><img src="{{ 'ant-design_user-outlined.svg' | asset_url }}" loading="lazy" width="20" alt="" class="nav-icon-image">
                <div>
                  <div class="icon-3 w-icon-dropdown-toggle"></div>
                </div>
              </div>
            </div>{%- endif -%}
            <nav class="dropdown-list-2 w-dropdown-list">
<<<<<<< HEAD
              <a href="https://bodhgemandcrystals.com/account" class="dropdown-link w-dropdown-link">{{ 'tn585ec447' | t }}</a>
              <a href="https://bodhgemandcrystals.com/account/addresses" class="dropdown-link w-dropdown-link">{{ 'tn569ab280' | t }}</a>
              <a href="/account/logout" class="dropdown-link w-dropdown-link">{{ 't777ebc32' | t }}</a>
=======
              <a href="https://bodhgemandcrystals.com/account" class="dropdown-link w-dropdown-link">My Account</a>
              <a href="https://bodhgemandcrystals.com/account/addresses" class="dropdown-link w-dropdown-link">My Address</a>
              <a href="/account/logout" class="dropdown-link w-dropdown-link">Log Out</a>
>>>>>>> shopify
            </nav>
          </div>{%- endif -%}
          <a href="#" class="nav-icon-button w-inline-block"><img src="{{ 'bytesize_search.svg' | asset_url }}" loading="lazy" width="20" data-w-id="6126bb48-c101-3d05-ef10-cf6fa4ef5a08" alt="" class="nav-icon-image"></a>
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart" udy-collection="cart">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink nav-icon-button w-inline-block"><img src="{{ 'bytesize_bag.svg' | asset_url }}" loading="lazy" width="20" alt="" class="nav-icon-image">
              <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ cart.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer">
                <div class="w-commerce-commercecartheader cart-header">
<<<<<<< HEAD
                  <h3 class="w-commerce-commercecartheading heading-3">{{ 'tn77ee8913' | t }}</h3>
=======
                  <h3 class="w-commerce-commercecartheading heading-3">Your Cart</h3>
>>>>>>> shopify
                  <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg class="icon" width="16px" height="16px" viewBox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
<<<<<<< HEAD
                    <script type="text/x-wf-template" id="wf-template-726bdc30-98ae-55a3-5497-f3f47fd64c03"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c04"><img data-node-type="cart-item-image" class="image-3 w-commerce-commercecartitemimage" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c05" src="<%= it.image %>"><div data-node-type="cart-item-info" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c06" class="w-commerce-commercecartiteminfo"><h3 data-node-type="heading" class="heading-2 cart-heading" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c07"><%= it.title %></h3><div class="text-block-7" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c08"><%= it.price %></div><ul template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c09" class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item" class="option"><span data-node-type="cart-option-list-item-label" class="text-block-9" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0b"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" class="text-block-10" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0e"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" href="#" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0f" data-product-id="<%= it.id %>"><div class="text-block-6" item="remove">Remove</div></a></div><input class="w-commerce-commercecartquantity cart-quantity-2" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                    <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-726bdc30-98ae-55a3-5497-f3f47fd64c03"></div>
                    <div class="w-commerce-commercecartfooter">
                      <div class="w-commerce-commercecartlineitem">
                        <div class="nav-dropdown-text">{{ 'tn76f396dc' | t }}</div>
                        <div class="w-commerce-commercecartordervalue text-block-8">{{ cart.items_subtotal_price | money }}</div>
                      </div>
                      <h2 class="heading-3 capital">{{ 'tn6670b274' | t }}</h2>
                      <div class="checkout-actions">
                        <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton primary-button" data-loading-text="Hang Tight...">{{ 'tn7941186e' | t }}</a>
=======
                    <script type="text/x-wf-template" id="wf-template-726bdc30-98ae-55a3-5497-f3f47fd64c03"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c04"><img data-node-type="cart-item-image" class="image-3 w-commerce-commercecartitemimage" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c05" src="<%= it.image %>"><div data-node-type="cart-item-info" id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c06" class="w-commerce-commercecartiteminfo"><h3 data-node-type="heading" class="heading-2 cart-heading" id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c07"><%= it.title %></h3><div class="text-block-7" id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c08"><%= it.price %></div><ul id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c09" class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item" class="option" id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0a"><span data-node-type="cart-option-list-item-label" class="text-block-9" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0b"><%= data[0] %></span><span id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0c">: </span><span data-node-type="cart-option-list-item-value" class="text-block-10" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0e"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" href="#" id="" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c0f" data-product-id="<%= it.id %>"><div class="text-block-6" id="" item="remove" template-part-bind="726bdc30-98ae-55a3-5497-f3f47fd64c10">Remove</div></a></div><input class="w-commerce-commercecartquantity cart-quantity-2" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                    <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-726bdc30-98ae-55a3-5497-f3f47fd64c03"></div>
                    <div class="w-commerce-commercecartfooter">
                      <div class="w-commerce-commercecartlineitem">
                        <div class="nav-dropdown-text">Subtotal</div>
                        <div class="w-commerce-commercecartordervalue text-block-8">{{ cart.items_subtotal_price | money }}</div>
                      </div>
                      <h2 class="heading-3 capital">100% purchase protection</h2>
                      <div class="checkout-actions">
                        <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton primary-button" data-loading-text="Hang Tight...">Continue to Checkout</a>
>>>>>>> shopify
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate">
<<<<<<< HEAD
                    <div>{{ 't3d503d2b' | t }}</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
=======
                    <div>No items found.</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Cart failed.">Product is not available in this quantity.</div>
>>>>>>> shopify
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-button-3 w-nav-button"><img src="{{ 'hamburger.svg' | asset_url }}" loading="lazy" width="20" alt="" class="nav-icon-image"></div>
        </div>
      </div>
    </div>
    <div class="search-modal-wrapper">
      <div id="the-basics" class="typeahead"><img src="{{ 'cancel.png' | asset_url }}" loading="lazy" width="25" data-w-id="726bdc30-98ae-55a3-5497-f3f47fd64c25" alt="" class="image-9">
        <form action="/search" autocomplete="off" class="search hide w-form" method="get" role="search"><input type="search" class="search-input w-input" maxlength="256" name="q" placeholder="Find Everything You Are Looking For....." id="autoInput" required=""><input type="submit" value="search" class="primary-button w-button"></form>
        <div id="searchTermsWrapper" class="suggestions">
          <ul id="search-terms" role="list" class="list-4 w-list-unstyled">
            <li class="list-item-7">
<<<<<<< HEAD
              <a href="#" class="list-term hide">{{ 't3610230d' | t }}</a>
=======
              <a href="#" class="list-term hide">Text Link</a>
>>>>>>> shopify
            </li>
          </ul>
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("data-animation","default");currentSection.setAttribute("class","navbar-pc w-nav");currentSection.setAttribute("data-easing2","ease");currentSection.setAttribute("data-easing","ease");currentSection.setAttribute("data-collapse","medium");currentSection.setAttribute("role","banner");currentSection.setAttribute("data-no-scroll","1");currentSection.setAttribute("data-duration","300");currentSection.setAttribute("data-doc-height","1");</script>
        
{% schema %}
{
  "name": "new-nav-pc",
  "tag": "div",
  "class": "navbar-pc w-nav",
  "settings": [
    {
      "type": "image_picker",
      "id": "nav_image",
      "label": "nav-image"
    },
    {
      "type": "url",
      "id": "nav_link",
      "label": "nav-link"
    },
    {
      "type": "text",
      "id": "nav_link_text",
      "label": "nav-link Text",
      "default": "learn"
    }
  ]
}
{% endschema %}