{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "616a6acafdb3cb5d75b1a615" -%}{%- assign bodyClasses = "" -%}
  {%- render 'google-tag-manager' -%}
  {%- render 'global-css-and-elements' -%}
  {%- section 'announcement-ribbon' -%}
  {%- render 'new-navbar-mobile' -%}
  {%- section 'new-nav-pc' -%}
  <div class="aside-section padding-bottom-2em wf-section">
    <div class="container">
      <div class="w-layout-grid aside-grid">
        {%- render 'left-nav' -%}
        <div class="right-section">
          <div class="breadcrumb-wrapper">
            <a href="{{ routes.root_url }}" class="breadcrumb-link s-1-6em">HOME</a>
            <div class="slash-with-size p-l-0-44em p-r-0-44em">/</div>
            <a href="{{ collection.url }}" class="breadcrumb-link s-1-6em">{{ collection.title }}</a>
          </div>
          <h1 class="heading-2 m-bottom-0-39em">{{ collection.title }}</h1>
          <p class="body-font" id="demo">{{ collection.description }}</p>
               <button id="btn" onclick="myFunction()" onclick="readLess()">
       <p> Read more</p>
    </button>
          {%- render "products_archive_paginated_by_18" -%}
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
 <script src="https://cdn.finsweet.com/files/cmslibrary-v1.6.js"></script>
<script>
(function() {
// create a new Library instance and store it in a variable called "projectsGrid"
var projectsGrid = new FsLibrary('.product-collection-grid')
  // run loadmore on our instance
projectsGrid.loadmore({
button: ".load-more-button",
loadAll: false,
animation: {
enable: true,
duration: 200,
easing: 'ease',
effects: 'fade'
}
})
})();
    
    
    
</script>



 <script>

const width=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth;var x=document.getElementById("demo").textContent;let button=document.getElementById("btn"),result="";for(let t of x)result+=t;if(result.length>400&&width<=700){let t=result.substr(0,300);t+="....",document.getElementById("demo").innerHTML=t, button.style="display:inline-block"}else button.style="display:none";let new_res=document.getElementById("demo").textContent;function myFunction(){document.getElementById("demo").innerHTML=result,button.innerHTML='<button id="notbtn" onclick="myNewFunction()" onclick="readLess()">Read less</button>',button.onclick=function(){button.innerHTML="<p>Read more<p>",document.getElementById("demo").innerHTML=new_res,button.onclick=myFunction}}
    </script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}