{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "616a6acafdb3cb0ac6b1a623" -%}{%- assign bodyClasses = "" -%}
  {%- section 'announcement-ribbon' -%}
  {%- section 'new-nav-pc' -%}
  <div class="wf-section">
    <div class="container center-align w-container"><img src="{{ '60c173e6588eee7c84240625_bodh-black-vector-.png' | asset_url }}" loading="lazy" width="104" alt="Our logo">
      <h1 class="heading-2 m-top-056em m-bottom-1-39em">{{ 'tn781dd549' | t }}</h1>
      <div class="subtitle body-font m-top-0-69em m-bottom-1-39em">{{ 'tn1e4c6f60' | t }}</div>
      <div class="w-form">
        {%- form "create_customer",  class: "form-4" -%}<label for="customer[first_name]">{{ 't69b3163b' | t }}</label><input type="text" name="customer[first_name]" class="w-input" required=""><label for="customer[last_name]">{{ 'tn1416662b' | t }}</label><input type="text" name="customer[last_name]" class="w-input" required=""><label for="customer[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="customer[email]" class="w-input" required=""><input type="password" class="form-text-field w-input" maxlength="256" name="customer[password]" data-name="password" placeholder="Enter New Password" id="password-3"><input type="password" class="form-text-field w-input" maxlength="256" name="customer[note][password_confirmation]" data-name="Password Confirmation" placeholder="Re-Enter New password" id="Password-Confirmation-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="primary-button w-button">{%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
        <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
          <div>{{ 'tn1839f161' | t }}<br>{{ 't3e1a3b99' | t }}</div>
        </div>
        {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
          <div>{%- render "form-errors", form_errors: form_errors -%}</div>
        </div>{%- endunless -%}
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}