{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "62c42d2fecf051c38ff4a7df" -%}{%- assign bodyClasses = "" -%}
  {%- section 'new-nav-pc' -%}
  <div class="flex space-between">
    <div class="block-content-holder">
      <div id="w-node-ec082768-3965-8941-6be6-2ab3d69c318e-8ff4a7df" class="content">
        <div class="subtitle">{{ 't710cf5be' | t }}</div>
        <h1 class="blog-template-heading">{{ 'tn7f6811c8' | t }}</h1>
        <div class="text-block-22">{{ 't4ffd0cee' | t }}</div>
      </div>
      <div id="w-node-_75b8a544-ba20-7efa-fcb8-47b8158fa28c-8ff4a7df"><img src="{{ 'blog-header-image-2.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 77vw, 49vw" srcset="{{ 'blog-header-image-2-p-500.png' | asset_url }} 500w, {{ 'blog-header-image-2-p-800.png' | asset_url }} 800w, {{ 'blog-header-image-2.png' | asset_url }} 935w" alt="" class="top-div-image-holder"></div>
    </div>
    <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    <div class="block-content-holder">
      <div id="w-node-_45c10094-0fb3-7c55-3314-291a99439a66-8ff4a7df"><img src="{{ 'rock.jpg' | asset_url }}" loading="lazy" alt="" class="top-div-image-holder">
        <div class="subtitle right-align">{{ 't3f428943' | t }}</div>
      </div>
      <div id="w-node-_45c10094-0fb3-7c55-3314-291a99439a5f-8ff4a7df" class="content">
        <h1 class="blog-subheading">{{ 't7614edc2' | t }}</h1>
        <div class="text-block-22">{{ 'tn53d7267' | t }}</div>
      </div>
    </div>
    <div class="flex center t-margin-1em">
      <h2 class="blog-subheading">{{ 't3cfca34' | t }}</h2>
      <p class="center-text">{{ 'tn5286fc08' | t }}</p>
    </div>
    <div class="_2-image-grid">
      <div id="w-node-_9f9be5ad-4949-2812-ee55-7d7e161dcd93-8ff4a7df"><img src="{{ 'crystall_balls.jpg' | asset_url }}" loading="lazy" id="w-node-_5efe4b9d-c6fe-f64c-c3a2-5b91cc568521-8ff4a7df" srcset="{{ 'crystall_balls-p-500.jpeg' | asset_url }} 500w, {{ 'crystall_balls.jpg' | asset_url }} 740w" sizes="(max-width: 479px) 41vw, (max-width: 991px) 42vw, 43vw" alt="" class="image-max-cover">
        <div class="subtitle">{{ 't3cfca34' | t }}</div>
      </div>
      <div id="w-node-a9b435fa-ad0a-9acc-f1d4-1b53bc8489b4-8ff4a7df"><img src="{{ '615a954937f16757e19d82a8_amethystangel3incolour-272378.jpg' | asset_url }}" loading="lazy" id="w-node-_7e8bf599-2022-aa16-b441-2f006c78ea74-8ff4a7df" alt="Crytsal murti" class="image-max-cover">
        <div class="subtitle">{{ 'tn76f563e0' | t }}</div>
      </div>
    </div>
    <div class="flex center">
      <h2 class="blog-subheading">{{ 'tn76f563e0' | t }}</h2>
      <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    </div>
    <div class="block-content-holder">
      <div id="w-node-a7315f9a-c574-d7af-9f6f-4bfcdb48c34e-8ff4a7df" class="content">
        <h1 class="blog-subheading">{{ 't539b4f60' | t }}</h1>
        <div class="text-block-22">{{ 'tn53d7267' | t }}</div>
      </div>
      <div id="w-node-a7315f9a-c574-d7af-9f6f-4bfcdb48c34c-8ff4a7df"><img src="{{ 'rock.jpg' | asset_url }}" loading="lazy" alt="" class="top-div-image-holder">
        <div class="subtitle">{{ 't3f428943' | t }}</div>
      </div>
    </div>
    <div class="flex center t-margin-1em">
      <h2 class="blog-subheading">{{ 't5a3f5a7' | t }}</h2>
      <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    </div>
    <div class="_2-image-grid">
      <div id="w-node-_1d0e844d-a750-2da7-4399-c7216ab36e49-8ff4a7df"><img src="{{ 'chips.png' | asset_url }}" loading="lazy" id="w-node-_1d0e844d-a750-2da7-4399-c7216ab36e4a-8ff4a7df" srcset="{{ 'chips-p-500.png' | asset_url }} 500w, {{ 'chips-p-800.png' | asset_url }} 800w, {{ 'chips.png' | asset_url }} 1085w" sizes="(max-width: 479px) 41vw, (max-width: 991px) 42vw, 43vw" alt="" class="image-max-cover">
        <div class="subtitle">{{ 't3e10587' | t }}</div>
      </div>
      <div id="w-node-_1d0e844d-a750-2da7-4399-c7216ab36e4d-8ff4a7df"><img src="{{ 'pyramids.png' | asset_url }}" loading="lazy" id="w-node-_1d0e844d-a750-2da7-4399-c7216ab36e4e-8ff4a7df" srcset="{{ 'pyramids-p-500.png' | asset_url }} 500w, {{ 'pyramids-p-800.png' | asset_url }} 800w, {{ 'pyramids.png' | asset_url }} 1085w" sizes="(max-width: 479px) 41vw, (max-width: 991px) 42vw, 43vw" alt="" class="image-max-cover">
        <div class="subtitle">{{ 't3f428943' | t }}</div>
      </div>
    </div>
    <div class="flex center">
      <h2 class="blog-subheading">{{ 't3f428943' | t }}</h2>
      <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    </div>
    <div class="flex center">
      <h2 class="blog-subheading">{{ 't6baae73' | t }}</h2>
      <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    </div>
    <div class="block-content-holder">
      <div id="w-node-_3e26e437-a01d-8fd0-652d-93ae7d538701-8ff4a7df"><img src="{{ 'chips.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, 49vw" srcset="{{ 'chips-p-500.png' | asset_url }} 500w, {{ 'chips-p-800.png' | asset_url }} 800w, {{ 'chips.png' | asset_url }} 1085w" alt="" class="top-div-image-holder">
        <div class="subtitle right-align">{{ 't3f428943' | t }}</div>
      </div>
      <div id="w-node-_3e26e437-a01d-8fd0-652d-93ae7d5386fc-8ff4a7df" class="content">
        <h1 class="blog-subheading">{{ 't715df61f' | t }}</h1>
        <div class="text-block-22">{{ 'tn53d7267' | t }}</div>
      </div>
    </div>
    <div class="flex center t-margin-1em">
      <h2 class="blog-subheading">{{ 't45fcf359' | t }}</h2>
      <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    </div>
    <div class="_2-image-grid">
      <div id="w-node-_1b0b8fb5-edb5-8171-6dcd-9170ef62ab15-8ff4a7df"><img src="{{ 'pendant.jpg' | asset_url }}" loading="lazy" id="w-node-_1b0b8fb5-edb5-8171-6dcd-9170ef62ab16-8ff4a7df" srcset="{{ 'pendant-p-500.jpeg' | asset_url }} 500w, {{ 'pendant-p-800.jpeg' | asset_url }} 800w, {{ 'pendant-p-1080.jpeg' | asset_url }} 1080w, {{ 'pendant.jpg' | asset_url }} 1144w" sizes="(max-width: 479px) 41vw, (max-width: 991px) 42vw, 43vw" alt="" class="image-max-cover">
        <div class="subtitle">{{ 'tn4290ecc7' | t }}</div>
      </div>
      <div id="w-node-_1b0b8fb5-edb5-8171-6dcd-9170ef62ab19-8ff4a7df"><img src="{{ '5fbe7595858e81c3606ab8b2_treeheroo-p-500.jpeg' | asset_url }}" loading="lazy" id="w-node-_1b0b8fb5-edb5-8171-6dcd-9170ef62ab1a-8ff4a7df" alt="" class="image-max-cover">
        <div class="subtitle">{{ 'te6216eb' | t }}</div>
      </div>
    </div>
    <div class="flex center">
      <h2 class="blog-subheading">{{ 'tn1f7a28d5' | t }}</h2>
      <p class="center-text">{{ 'tn563e0c4e' | t }}</p>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}