{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "616a6acafdb3cb902ab1a621" -%}{%- assign bodyClasses = "" -%}
  {%- render 'global-css-and-elements' -%}
  {%- render 'google-tag-manager' -%}
  {%- section 'announcement-ribbon' -%}
  {%- section 'new-nav-pc' -%}
  <div class="container w-container">
    <div class="breadcrumb-wrapper">
      <a href="{{ routes.root_url }}" class="breadcrumb-link s-1-6em">{{ 't21ecdf' | t }}</a>
      <div class="slash-with-size p-l-0-44em p-r-0-44em">{{ 't2f' | t }}</div>
      <a href="{{ pages["privacy-policy"].url }}" aria-current="page" class="breadcrumb-link s-1-6em w--current">{{ 'tn3fbde6f6' | t }}</a>
    </div>
    <h1 class="heading-1 m-bottom-1-67em">{{ 'tn3fbde6f6' | t }}</h1>
    <p class="body-font s-1-42 m-bottom-0-89em">{{ 'tn20d60b8e' | t }}<br>{{ 'tn62fdb43b' | t }}<br><br>{{ 'tn117ca984' | t }}<br><br>{{ 'tn75dfef32' | t }}</p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn6410a806' | t }}</h1>
    <p class="body-font s-1-42 m-bottom-0-89em">{{ 'tn20eef93e' | t }}</p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn7639c694' | t }}</h1>
    <p class="body-font s-1-42 m-bottom-0-89em">{{ 'tn66c49400' | t }}<br><br>{{ 'tn38fb2d0c' | t }}<br><br>{{ 't429990f0' | t }}</p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 't553dec5a' | t }}</h1>
    <p class="body-font s-1-42">{{ 'tn7b658d4a' | t }}<br><br>{{ 'tn2af869d3' | t }}<br>{{ 'tn27d4d55c' | t }}<br>{{ 't5ecdf224' | t }}<br>{{ 'tabcc6f0' | t }}<br>{{ 'tn332cd00a' | t }}<br>{{ 't37a977a6' | t }}<br>{{ 'tn60045b8b' | t }}</p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 't7a7bf5b3' | t }}</h1>
    <p class="body-font s-1-42">{{ 't577372f7' | t }}<a href="https://www.privacypolicygenerator.info/" target="_blank" class="colored-link">{{ 't15335ccd' | t }}</a>{{ 't6ea2b318' | t }}<a href="https://www.privacypolicyonline.com/privacy-policy-generator/" target="_blank" class="colored-link">{{ 'tn1f0ab7d6' | t }}</a>{{ 't2e' | t }}<br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn59ff3cd7' | t }}</h1>
    <p class="body-font s-1-42">{{ 'tna0302da' | t }}<a href="https://www.cookieconsent.com/what-are-cookies/" target="_blank" class="colored-link">{{ 'tn2a4b90e1' | t }}</a>{{ 't22' | t }}<br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 't2885c2f5' | t }}</h1>
    <p class="body-font s-1-42">{{ 't781857' | t }}<a href="https://policies.google.com/technologies/ads" target="_blank" class="colored-link">{{ 'tf76eedf' | t }}</a><br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn111bed25' | t }}</h1>
    <p class="body-font s-1-42">{{ 'tn7b09720' | t }}<br><br>{{ 't27cf01bc' | t }}<br>
      <a href="https://policies.google.com/technologies/ads" target="_blank" class="colored-link">{{ 'tf76eedf' | t }}</a><br>
    </p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn111bed25' | t }}</h1>
    <p class="body-font s-1-42">{{ 'tn5972c3aa' | t }}<br><br>{{ 'tn5a1cdef7' | t }}<br><br>{{ 'tn4a63c6f7' | t }}<br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn27e720b7' | t }}</h1>
    <p class="body-font s-1-42">{{ 't10a65ede' | t }}<br><br>{{ 'tn2599985c' | t }}<br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn7fef90a3' | t }}</h1>
    <p class="body-font s-1-42">{{ 'tn40e7a3dc' | t }}<br><br>{{ 'tn563a134b' | t }}<br><br>{{ 't7690b9d5' | t }}<br><br>{{ 't2a029550' | t }}<br><br>{{ 'tn35f2f74c' | t }}<br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn15fef379' | t }}</h1>
    <p class="body-font s-1-42">{{ 'tn2858e7d9' | t }}<br><br>{{ 'tn1af41bc' | t }}<br><br>{{ 'tn3460a3f' | t }}<br><br>{{ 'tb835d4a' | t }}<br><br>{{ 'tn6c0e6423' | t }}<br><br>{{ 'tn43def154' | t }}<br><br>{{ 'tn46235fae' | t }}<br><br>{{ 'tn35f2f74c' | t }}<br></p>
    <h1 class="heading-2 size-3-2em m-top-0-71em m-bottom-20px">{{ 'tn3b8a7409' | t }}</h1>
    <p class="body-font s-1-42">{{ 't503b928f' | t }}<br><br>{{ 't48921454' | t }}<br></p>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}