{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "621a0f5eae7db6dafce2324f" -%}{%- assign bodyClasses = "" -%}
  {%- section 'new-nav-pc' -%}
  <div class="w-layout-grid aside-grid">
    <div id="w-node-b66f1d9a-c15a-3004-e08f-3ee7d7f42c2c-fce2324f" class="sticky-parent-wrapper">
      {%- render 'left-nav' -%}
    </div>
    <div id="w-node-_67664d55-821c-5fa3-ee99-1cc8194fdfbe-fce2324f" class="right-section-new-page">
      <a option:url="hero link" href="https://bodhgemandcrystals.com/pages/jewellery" class="top-div-image-holder w-inline-block"><img src="{{ '_gln3845.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 91vw, 58vw" srcset="{{ '_gln3845-p-500.jpeg' | asset_url }} 500w, {{ '_gln3845-p-800.jpeg' | asset_url }} 800w, {{ '_gln3845-p-1080.jpeg' | asset_url }} 1080w, {{ '_gln3845-p-1600.jpeg' | asset_url }} 1600w, {{ '_gln3845-p-2000.jpeg' | asset_url }} 2000w, {{ '_gln3845-p-2600.jpeg' | asset_url }} 2600w, {{ '_gln3845-p-3200.jpeg' | asset_url }} 3200w, {{ '_gln3845.jpg' | asset_url }} 3280w" option:image="hero image -wp" alt="" class="image-max-cover"></a>
      <h1 option:text="heading 1" class="heading-1 weight-300 center"><strong>Free</strong> shipping &amp; <strong>Surprises</strong><br>on all orders above ₹ 5000</h1>
      <div class="w-layout-grid grid-2-col">
        <a option:url="grid link 1" href="https://bodhgemandcrystals.com/collections/bracelets" class="image-container w-inline-block"><img src="{{ 'img_15441.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 991px) 95vw, (max-width: 4488px) 77vw, 3456px" srcset="{{ 'img_15441-p-800.jpeg' | asset_url }} 800w, {{ 'img_15441-p-1080.jpeg' | asset_url }} 1080w, {{ 'img_15441-p-1600.jpeg' | asset_url }} 1600w, {{ 'img_15441-p-2000.jpeg' | asset_url }} 2000w, {{ 'img_15441-p-2600.jpeg' | asset_url }} 2600w, {{ 'img_15441.jpg' | asset_url }} 3456w" option:image="grid image 1" alt="" class="image-max-cover"></a>
        <div id="w-node-d9f71ca5-dba8-c4f0-971c-c2eace69958d-fce2324f" class="info-container">
          <a option:url="Grid link 2" href="https://bodhgemandcrystals.com/pages/jewellery" class="new-image-container w-inline-block"><img src="{{ 'img_1601-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 991px) 95vw, 77vw" srcset="{{ 'img_1601-2-p-800.jpeg' | asset_url }} 800w, {{ 'img_1601-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'img_1601-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'img_1601-2.jpg' | asset_url }} 2041w" option:image="grid image 2" alt="" class="image-max-cover"></a>
          <div class="content-wrapper">
            <div class="flex">
              <a option:url="grid collection link" href="https://bodhgemandcrystals.com/pages/jewellery" class="outline-button background-hover w-button">BROWSE COLLECTION</a>
              <h1 option:text="grid text" class="heading-2 padding">Free Shipping on orders <br>over ₹1500</h1>
            </div>
          </div>
        </div>
      </div>
      <div data-delay="3000" data-animation="slide" class="m-d-slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="w-layout-grid slider-grid">
              <a option:url="Slider link 1" href="https://bodhgemandcrystals.com/collections/anklets" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img src="{{ '_dsc9247.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 245.64584350585938px, (max-width: 767px) 51vw, (max-width: 991px) 46vw, 43vw" srcset="{{ '_dsc9247-p-800.jpeg' | asset_url }} 800w, {{ '_dsc9247-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc9247-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc9247-p-2000.jpeg' | asset_url }} 2000w, {{ '_dsc9247-p-2600.jpeg' | asset_url }} 2600w, {{ '_dsc9247-p-3200.jpeg' | asset_url }} 3200w, {{ '_dsc9247.jpg' | asset_url }} 3825w" option:image="slider image 1" alt="" class="image-max-cover"></div>
              </a>
              <a option:url="slider link 2" href="https://bodhgemandcrystals.com/collections/earrings" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img src="{{ 'img_1637-2-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 131.03125px, (max-width: 767px) 27vw, (max-width: 991px) 25vw, 23vw" srcset="{{ 'img_1637-2-2-p-500.jpeg' | asset_url }} 500w, {{ 'img_1637-2-2-p-800.jpeg' | asset_url }} 800w, {{ 'img_1637-2-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'img_1637-2-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'img_1637-2-2-p-2000.jpeg' | asset_url }} 2000w, {{ 'img_1637-2-2.jpg' | asset_url }} 2419w" option:image="slider image 2" alt="" class="image-max-cover"></div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid slider-grid">
              <a option:url="slider link 3" href="https://www.bodhgemandcrystals.com/collections/mask-chains" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img src="{{ 'b-pk-js-mi-aa.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 294.78125px, (max-width: 767px) 61vw, (max-width: 991px) 56vw, 52vw" srcset="{{ 'b-pk-js-mi-aa-p-500.jpeg' | asset_url }} 500w, {{ 'b-pk-js-mi-aa.jpg' | asset_url }} 516w" option:image="slider image 3" alt="" class="image-max-cover"></div>
              </a>
              <a option:url="slider link 4" href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img src="{{ 'b-pk-rq-br-he-l.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 294.78125px, (max-width: 767px) 61vw, (max-width: 991px) 56vw, 52vw" srcset="{{ 'b-pk-rq-br-he-l-p-500.jpeg' | asset_url }} 500w, {{ 'b-pk-rq-br-he-l.jpg' | asset_url }} 516w" option:image="slider image 4" alt="" class="image-max-cover"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left"><img src="{{ 'arrow-acc-style-guide-2.svg' | asset_url }}" loading="lazy" width="40" alt=""></div>
        <div class="right-arrow w-slider-arrow-right"><img src="{{ 'arrow-acc-style-guide-1.svg' | asset_url }}" loading="lazy" width="40" alt=""></div>
        <div class="m-d-slide-nav w-slider-nav w-round"></div>
      </div>
      <div data-delay="4000" data-animation="slide" class="_w-day-women-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="w-layout-grid slider-grid">
              <a href="https://bodhgemandcrystals.com/collections/anklets" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img srcset="{{ '_dsc9247-p-800.jpeg' | asset_url }} 800w, {{ '_dsc9247-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc9247-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc9247-p-2000.jpeg' | asset_url }} 2000w, {{ '_dsc9247-p-2600.jpeg' | asset_url }} 2600w, {{ '_dsc9247-p-3200.jpeg' | asset_url }} 3200w, {{ '_dsc9247.jpg' | asset_url }} 3825w" sizes="100vw" src="{{ '_dsc9247.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid slider-grid">
              <a href="https://bodhgemandcrystals.com/collections/earrings" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img srcset="{{ 'img_1637-2-2-p-500.jpeg' | asset_url }} 500w, {{ 'img_1637-2-2-p-800.jpeg' | asset_url }} 800w, {{ 'img_1637-2-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'img_1637-2-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'img_1637-2-2-p-2000.jpeg' | asset_url }} 2000w, {{ 'img_1637-2-2.jpg' | asset_url }} 2419w" sizes="100vw" src="{{ 'img_1637-2-2.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid slider-grid">
              <a href="https://bodhgemandcrystals.com/collections/mask-chains" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img srcset="{{ 'b-pk-js-mi-aa-p-500.jpeg' | asset_url }} 500w, {{ 'b-pk-js-mi-aa.jpg' | asset_url }} 516w" sizes="100vw" src="{{ 'b-pk-js-mi-aa.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
              </a>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-layout-grid slider-grid">
              <a href="https://bodhgemandcrystals.com/collections/healing-bracelets" class="categorie-link w-inline-block">
                <div class="categeory-image-container-womens-day"><img srcset="{{ 'b-pk-rq-br-he-l-p-500.jpeg' | asset_url }} 500w, {{ 'b-pk-rq-br-he-l.jpg' | asset_url }} 516w" sizes="100vw" src="{{ 'b-pk-rq-br-he-l.jpg' | asset_url }}" loading="lazy" alt="" class="image-max-cover"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left"><img width="40" loading="lazy" src="{{ 'arrow-acc-style-guide-2.svg' | asset_url }}" alt=""></div>
        <div class="right-arrow w-slider-arrow-right"><img width="40" loading="lazy" src="{{ 'arrow-acc-style-guide-1.svg' | asset_url }}" alt=""></div>
        <div class="m-d-slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}