{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "616a6acafdb3cb7535b1a61b" -%}{%- assign bodyClasses = "" -%}
  {%- render 'google-tag-manager' -%}
  {%- render 'global-css-and-elements' -%}
  {%- section 'announcement-ribbon' -%}
  {%- section 'new-nav-pc' -%}
  <div class="circle-category-section wf-section">
    <div class="container _0padding">
      <div class="w-layout-grid _10-grid _11grid">
        <a href="https://bodhgemandcrystals.com/collections/raw-clusters" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'raw-cluster.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'raw-cluster-p-500.jpeg' | asset_url }} 500w, {{ 'raw-cluster.jpg' | asset_url }} 738w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn66441fe' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-balls" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'crystall_balls.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'crystall_balls-p-500.jpeg' | asset_url }} 500w, {{ 'crystall_balls.jpg' | asset_url }} 740w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't3a3ccce9' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-trees" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe7595858e81c3606ab8b2_treeheroo-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't3a453a88' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe7575dc69cadae6e61e80_5f963e102e105de6e5c68e89_selected31-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't14eb6f71' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/candle-holder" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-800.jpeg' | asset_url }} 800w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }} 888w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't6b33ea1f' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/coasters" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'coaster.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'coaster-p-500.jpeg' | asset_url }} 500w, {{ 'coaster-p-800.jpeg' | asset_url }} 800w, {{ 'coaster.jpg' | asset_url }} 813w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn38070cf0' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/roses" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ 'b-pk-rq-rs-aa-173-2-p-800.jpeg' | asset_url }} 800w, {{ 'b-pk-rq-rs-aa-173-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'b-pk-rq-rs-aa-173-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'b-pk-rq-rs-aa-173-2-p-2000.jpeg' | asset_url }} 2000w, {{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }} 2048w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't67aa904' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/ducks" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '_dsc1008-1_1-p-2000-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1008-1_1-p-2000-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1008-1_1-p-2000-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1008-1_1-p-2000-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }} 2000w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 'tn205a4a90' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/hearts" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc1003-1-p-3200.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '_dsc1003-1-p-3200-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1003-1-p-3200-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1003-1-p-3200-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1003-1-p-3200-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1003-1-p-3200-p-2000.jpeg' | asset_url }} 2000w, {{ '_dsc1003-1-p-3200-p-2600.jpeg' | asset_url }} 2600w, {{ '_dsc1003-1-p-3200.jpeg' | asset_url }} 3200w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't1b021517' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/chakra-crystal-candles" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc2486.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '_dsc2486-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2486.jpg' | asset_url }} 530w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't2dee49b9' | t }}</h1>
          </div>
        </a>
        <a href="https://bodhgemandcrystals.com/collections/crystal-diya" class="category-wrapper w-inline-block">
          <div class="category-image-wrapper"><img src="{{ '_dsc2729.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 59.462501525878906px, 6vw" srcset="{{ '_dsc2729-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2729.jpg' | asset_url }} 637w" alt="" class="image-max-cover circle"></div>
          <div class="category-heading">
            <h1 class="heading-4 center">{{ 't3a3dd537' | t }}</h1>
          </div>
        </a>
      </div>
      <div class="slider-mobile-view">
        <div data-delay="4000" data-animation="slide" class="mobile-category-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="w-slider-mask">
            <div class="slide w-slide">
              <div class="w-layout-grid _10-grid _4-grid">
                <a href="https://bodhgemandcrystals.com/collections/raw-clusters" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'raw-cluster.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'raw-cluster-p-500.jpeg' | asset_url }} 500w, {{ 'raw-cluster.jpg' | asset_url }} 738w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 'tn66441fe' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-balls" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'crystall_balls.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'crystall_balls-p-500.jpeg' | asset_url }} 500w, {{ 'crystall_balls.jpg' | asset_url }} 740w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't3a3ccce9' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-trees" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '5fbe7595858e81c3606ab8b2_treeheroo-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't3a453a88' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/pebbles-and-chips-1" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '5fbe7575dc69cadae6e61e80_5f963e102e105de6e5c68e89_selected31-p-500.jpeg' | asset_url }}" loading="lazy" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't14eb6f71' | t }}</h1>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-slide">
              <div class="w-layout-grid _10-grid _4-grid">
                <a href="https://bodhgemandcrystals.com/collections/candle-holder" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-500.jpeg' | asset_url }} 500w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1-p-800.jpeg' | asset_url }} 800w, {{ '5fbe7593c9481bcb20c58036_5f963d93078242ac524ebb59_dsc_9392-1.jpeg' | asset_url }} 888w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't6b33ea1f' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/coasters" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'coaster.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'coaster-p-500.jpeg' | asset_url }} 500w, {{ 'coaster-p-800.jpeg' | asset_url }} 800w, {{ 'coaster.jpg' | asset_url }} 813w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 'tn38070cf0' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/roses" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ 'b-pk-rq-rs-aa-173-2-p-800.jpeg' | asset_url }} 800w, {{ 'b-pk-rq-rs-aa-173-2-p-1080.jpeg' | asset_url }} 1080w, {{ 'b-pk-rq-rs-aa-173-2-p-1600.jpeg' | asset_url }} 1600w, {{ 'b-pk-rq-rs-aa-173-2-p-2000.jpeg' | asset_url }} 2000w, {{ 'b-pk-rq-rs-aa-173-2.jpg' | asset_url }} 2048w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't67aa904' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/ducks" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '_dsc1008-1_1-p-2000-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1008-1_1-p-2000-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1008-1_1-p-2000-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1008-1_1-p-2000-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1008-1_1-p-2000.jpeg' | asset_url }} 2000w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 'tn205a4a90' | t }}</h1>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-slide">
              <div class="w-layout-grid _10-grid _4-grid">
                <a href="#https://bodhgemandcrystals.com/collections/hearts" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc1003-1-p-3200.jpeg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '_dsc1003-1-p-3200-p-500.jpeg' | asset_url }} 500w, {{ '_dsc1003-1-p-3200-p-800.jpeg' | asset_url }} 800w, {{ '_dsc1003-1-p-3200-p-1080.jpeg' | asset_url }} 1080w, {{ '_dsc1003-1-p-3200-p-1600.jpeg' | asset_url }} 1600w, {{ '_dsc1003-1-p-3200-p-2000.jpeg' | asset_url }} 2000w, {{ '_dsc1003-1-p-3200-p-2600.jpeg' | asset_url }} 2600w, {{ '_dsc1003-1-p-3200.jpeg' | asset_url }} 3200w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't1b021517' | t }}</h1>
                  </div>
                </a>
                <a href="#https://bodhgemandcrystals.com/collections/hearts" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc2486.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '_dsc2486-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2486.jpg' | asset_url }} 530w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't2dee49b9' | t }}</h1>
                  </div>
                </a>
                <a href="https://bodhgemandcrystals.com/collections/crystal-diya" class="category-wrapper w-inline-block">
                  <div class="category-image-wrapper"><img src="{{ '_dsc2729.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 15vw, 100vw" srcset="{{ '_dsc2729-p-500.jpeg' | asset_url }} 500w, {{ '_dsc2729.jpg' | asset_url }} 637w" alt="" class="image-max-cover circle"></div>
                  <div class="category-heading">
                    <h1 class="heading-4 center">{{ 't3a3dd537' | t }}</h1>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left"></div>
          <div class="right-arrow w-slider-arrow-right"></div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
  {%- section 'best-seller-home-decor' -%}
  {%- section 'offer-section-home-decor' -%}
  {%- section 'candle-holder-section' -%}
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}