{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "616a6acafdb3cb654fb1a62e" -%}{%- assign bodyClasses = "" -%}
  {%- render 'global-css-and-elements' -%}
  {%- render 'google-tag-manager' -%}
  {%- section 'announcement-ribbon' -%}
  {%- section 'new-nav-pc' -%}
  <div class="w-layout-grid aside-grid remover">
    <div class="sticky-parent-wrapper">
      {%- render 'left-nav' -%}
    </div>
    <div class="right-section p-right-2-78em">
      <div class="breadcrumb-wrapper">
        <a href="#" class="breadcrumb-link s-1-6em">HOME</a>
        <div class="slash-with-size p-l-0-44em p-r-0-44em">/</div>
        <a href="{{ pages["workshop"].url }}" aria-current="page" class="breadcrumb-link s-1-6em w--current">Workshop</a>
      </div>
      <div class="w-layout-grid grid-8col color-gray p-left-1-67em m-top-3-33em m-bottom-3-33em">
        <div id="w-node-_3f426437-e557-6241-dfe2-4495a67924c2-4fb1a62e" class="grid-content-wrapper">
          <div class="pre-title margin-bottom-0-72em m-top-0-97">WORKSHOP BY BODH</div>
          <h1 class="heading-2 m-top-056em">Introduction to Crystal Healing</h1>
          <div class="body-font s-125em m-top-0-97em">By Mrs. Monica Dedhia</div>
          <a option:url="page link" href="https://app.zoko.io/url-resolver?code=c0a8600279b91814817a2e5efa9d1f9e&amp;platform=web" class="outline-button left-align-flex-child m-top-278em w-button">ENQUIRE NOW</a>
          <div class="body-font s-125em m-top-0-97em m-bottom-0-97em">The Course is taught in Hinglish.<br>Dates for workshop<br>21st July 2021, Wednesday <br>25th July 2021, Sunday </div>
        </div>
        <div id="w-node-_32676226-ab54-8421-1b24-e1295010972b-4fb1a62e"><img src="{{ 'laptop__1_-removebg-preview.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 767px) 90vw, (max-width: 991px) 89vw, 69vw" srcset="{{ 'laptop__1_-removebg-preview-p-500.png' | asset_url }} 500w, {{ 'laptop__1_-removebg-preview.png' | asset_url }} 577w" alt="" class="image-max-cover"></div>
      </div>
      <div class="w-layout-grid grid-4 p-left1-39em p-top-2-78em p-bottom-278em m-top-347em m-bottom-3-47em">
        <div id="w-node-cac53f03-6ffa-b566-4f92-868ea4762991-4fb1a62e" class="div-block-6">
          <h1 class="heading-2">Your take-away from this Workshop</h1>
        </div>
        <div id="w-node-_7d50e448-f291-319d-41a5-8c40dd6c7006-4fb1a62e">
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> Get started on a spiritual awareness journey.</div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> <span>Amplify your energy with the magic of crystals.</span></div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> <span>Access a higher state of consciousness.</span></div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> <span>Learn about Crystals, Chakras &amp; Crystal Healing.</span></div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> <span>Incorporate Crystals in your everyday life.</span></div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span><span class="text-span">Get a digital Crystal Guide for future references.</span></div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span><span class="text-span">One-on-One Consultation with Mrs. Monica Dedhia.</span></div>
        </div>
      </div>
      <div class="w-layout-grid grid-4 p-left1-39em p-top-2-78em p-bottom-278em m-top-347em m-bottom-3-47em-copy">
        <div id="w-node-_0fd7fc82-3bea-3339-47f6-7615925ad034-4fb1a62e">
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> Are you attracted to Crystals and want to know more about them?</div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> <span>Are you a passionate crystal lover but don't know&nbsp;where to start from?</span></div>
          <div class="subtitle body-font m-width-70ch m-top-0-69em m-bottom-2-08em"><span class="green-tick">➣</span> <span>Are you fascinated by crystals but don't know how to use them?</span></div>
        </div>
        <div id="w-node-_0fd7fc82-3bea-3339-47f6-7615925ad031-4fb1a62e" class="div-block-6">
          <h1 class="heading-2">Is the Workshop for You?</h1>
        </div>
      </div>
      <h1 class="heading-2 center m-top-0-56em m-bottom-1-39em">Is the Workshop for You?</h1>
      <div class="workshop-section p-left-139em m-bottom-4-17em">
        <div class="inside-div p-top-2-78em p-bottom-278em p-left-2-92em p-right-2-92em">
          <div class="body-font s-1-94em center-align m-bottom-2-08em">Are you attracted to Crystals and want to know more about them?</div>
          <div class="body-font s-1-94em center-align m-bottom-2-08em">Are you a passionate crystal lover but don't know&nbsp;where to start from?</div>
          <div class="body-font s-1-94em center-align m-bottom-2-08em">Are you fascinated by crystals but don't know how to use them?</div>
          <div class="body-font s-1-94em center-align m-bottom-2-08em">Do you wish to know how to incorporate these magical stones&nbsp;in your daily routine?</div>
        </div>
      </div>
      <div class="w-layout-grid grid-5 m-bottom-417em">
        <div id="w-node-_436e5009-cbb0-24fb-9f07-75b0b9b803c5-4fb1a62e" class="div-block-9"><img src="{{ 'monica-dedhia.jpg' | asset_url }}" loading="lazy" width="486" alt="" class="image-4"></div>
        <div class="content-div p-top-1-39em">
          <div class="pre-title s-1-07em">Meet Your Instructor</div>
          <h1 class="heading-2 m-top-056em m-bottom-1-39em">Mrs. Monica Dedhia</h1>
          <p class="body-font s-1-42">Mrs. Monica Dedhia believes there is always a solution, all you need to do is find the answers within you. <br>‍<br>With this core belief, she started studying again at the age of 38. Her eagerness to learn new things drove her to step into the world of alternative healing. She's a Sujok healer, Chakra healer, Pranic healer and Crystal healer. Mrs. Monica combined her knowledge of Color therapy, Chakra healing and Crystals to form a synergy that intended to benefit the world.<br><br>In 2012, when she and her team were volunteering at a hospital, their challenges were numerous. As people did not believe in alternate healing, she wanted to prove the effect by practice, and not theory. Nevertheless, many patients turned to alternative healing as their last resort and were surprised that it worked as if like some miracle!<br><br><br></p>
        </div>
      </div>
      <div class="color-gray flex p-top-6-94em p-bottom-6-94em">
        <div class="pre-title s-1-07em center m-bottom-0-56em">INVEST IN YOURSELF</div>
        <h1 class="heading-1 weight-300 center m-top-1-39em m-bottom-2-08em">Start Your Crystal Journey Today For a <strong class="_500-medium-w">Better Tomorrow</strong> </h1>
        <div class="subtitle body-font center m-bottom-1-39em">What will you learn from this workshop?</div>
        <ol role="list" class="list-2 p-left-3-47em p-right-3-47em w-list-unstyled">
          <li id="w-node-_14216673-232d-7fd8-636a-fbaa5e3e65c2-4fb1a62e" class="list-item"><strong class="green-tick">✓ </strong><strong>What are Crystals?</strong></li>
          <li id="w-node-_5f096f14-67ed-e9ec-41ad-50ab37971c44-4fb1a62e" class="list-item"><strong class="green-tick">✓ </strong><strong> </strong><strong>What are Chakras?</strong></li>
          <li id="w-node-_4240f2d2-a237-9ff1-e5ca-84a1389167cc-4fb1a62e" class="list-item"><strong class="green-tick">✓ </strong><strong> </strong><strong>Introduction to Crystal Healing.</strong></li>
          <li id="w-node-a1e5206c-57bc-d428-84c6-a17caba7c15e-4fb1a62e" class="list-item"><strong class="green-tick">✓ </strong><strong>Using Crystals to Balance Chakras.</strong></li>
          <li id="w-node-c1a67fbe-3d81-f484-0e30-3e0407734abc-4fb1a62e" class="list-item"><strong class="green-tick">✓ </strong><strong>How do Chakras Work?</strong></li>
          <li id="w-node-_0bc644cc-eec7-2ba4-d9df-9168d84d3b99-4fb1a62e" class="list-item"><strong class="green-tick">✓ </strong><strong>Personal Healing Recommendations.</strong></li>
        </ol>
        <h1 class="heading-2 _500-medium-w m-width-11ch center m-top-2-08em m-bottom-2-08em">at&nbsp;just <strong><em>₹700</em></strong></h1>
        <a href="#" class="outline-button center-align-flex-child w-button">Enquire Now</a>
        <h1 class="heading-3 color m-width-16ch center m-top-2-09em _500-medium-w"> Limited to 15 Seekers.</h1>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}