{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "616a6acafdb3cb46a1b1a629" -%}{%- assign bodyClasses = "" -%}
  {%- section 'announcement-ribbon' -%}
  {%- section 'new-nav-pc' -%}
  {%- render 'google-tag-manager' -%}
  {%- render 'global-css-and-elements' -%}
  <div class="aside-section wf-section">
    <div class="container">
      <div class="w-layout-grid aside-grid">
        <div id="w-node-d53e35bd-da46-36bd-77ae-90d57a9fa905-a1b1a629" class="right-section p-right-2-78em">
          <div class="breadcrumb-wrapper">
            <a href="#" class="breadcrumb-link s-1-6em">{{ 't2268ff' | t }}</a>
            <div class="slash m-2-31em s-2-25em p-left-0-44em p-right-0-44em">{{ 't2f' | t }}</div>
            <a href="#" class="breadcrumb-link s-1-6em">{{ 't274f16' | t }}</a>
            <div class="slash m-2-31em s-2-25em p-left-0-44em p-right-0-44em">{{ 't2f' | t }}</div>
            <a href="{{ pages["shop-by-intent"].url }}" aria-current="page" class="breadcrumb-link body-font w--current">{{ 'tn69e99205' | t }}</a>
          </div>
          <h1 class="heading-1 m-bottom-1-67em m-top-20px">{{ 't69af2dee' | t }}</h1>
          <div class="w-layout-grid blog-collection-wrapper m-top-0-74em">
            <div id="w-node-_4b162cb7-a7a7-b9f5-03c8-377cd7602322-a1b1a629" class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 't588b3e6b' | t }}</h1>
              <div option:textarea="text-area" class="body-font-intent-section">Strengthen your mind and enhance concentration with crystals. They aid in studying, augment memory, and clarify negative energies. These crystals are also very easy to use as they can be worn, carried with you and placed on your study/work desk.</div>
              <a href="https://www.bodhgemandcrystals.com/collections/focus-concentration" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 'tn2aa5e60a' | t }}<br>{{ 'tn5e3987e9' | t }}</h1>
              <div class="body-font-intent-section">{{ 't39487a83' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/new-beginnings-opportunities" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div id="w-node-_4b162cb7-a7a7-b9f5-03c8-377cd7602334-a1b1a629" class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 'tn517e8867' | t }}</h1>
              <div class="body-font-intent-section">{{ 'tn462b034d' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/spirituality-meditation" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 't5c07c7bd' | t }}</h1>
              <div class="body-font-intent-section">{{ 'tn4c501bb9' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/grounding-balance" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 't4c5dc0c9' | t }}<br>{{ 'tn7654e22e' | t }}</h1>
              <div class="body-font-intent-section">{{ 'tn1905b6d2' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/passion-creativity" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 't58307559' | t }}</h1>
              <div class="body-font-intent-section">{{ 'tn245e190' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/abundance" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 't46336ce' | t }}<br>{{ 'tn637a3a73' | t }}</h1>
              <div class="body-font-intent-section">{{ 'tn69168547' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/love-happiness" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div>
              <h1 class="heading-2 m-bottom-0-24em">{{ 't1264f6f9' | t }}</h1>
              <div class="body-font-intent-section">{{ 't38ec030' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/protection" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
            <div class="intent-block">
              <h1 class="heading-2 m-bottom-0-24em">{{ 'tn6d5c1edc' | t }}<br>{{ 't1139fd17' | t }}</h1>
              <div class="body-font-intent-section">{{ 'tn4eab471c' | t }}</div>
              <a href="https://www.bodhgemandcrystals.com/collections/health-wellbeing" class="button-with-dash w-inline-block">
                <div class="dash"></div>
                <div class="dash-button-text p-left-1-07em">{{ 't1a08228c' | t }}</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-_95b669f6-30f1-7f58-2a8e-a2fb8f24a8e9-a1b1a629" class="sticky-parent-wrapper">
          {%- render 'left-nav' -%}
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=613b36b97ccfb87f99eaeb93" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}