{% layout none %}
{% assign item = product %}            
<div role="listitem" class="w-dyn-item">
            <a href="{{ item.url }}" class="product-link w-inline-block">
              <div class="recommended-image-holder"><img src="{{ item.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ item.featured_image.alt }}" class="image-max-cover" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w"></div>
              <div class="recommended-content-holder">
                <h4 class="product-card-heading">{{ item.title }}</h4>
                <div data-commerce-type="variation-price" class="product-card-price">{{ item.price | money }}</div>
              </div>
            </a>
          </div>